Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

feat: auto release3 (#4)
  .github/workflows/release.yml
Labels: waiting for triage

feat: auto release4 (#5)
  .github/workflows/release.yml
Labels: waiting for triage

chore: release 0.10.0
  CHANGELOG.md
Labels: documentation

fix: auto release5 (#6)
  .github/workflows/release.yml
Labels: waiting for triage

chore(main): release 0.10.1 (#7)
  CHANGELOG.md
Labels: documentation

fix: auto release6
  setup.py
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

add: comments
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test: build package && check package
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

test: build package && check package
  pyproject.toml
Labels: waiting for triage

test: build package && check package
  pyproject.toml
Labels: waiting for triage

optimize yml
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  pyproject.toml
Labels: waiting for triage

fix: upgrade the method of installing LightGBM on MacOS (#1980)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  pyproject.toml
Labels: waiting for triage

Update version
  qlib/__init__.py
Labels: waiting for triage

ci: auto release
  .commitlintrc.js
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint_title.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/test_qlib_from_pip.yml
  CHANGELOG.md
  pyproject.toml
  qlib/__init__.py
  setup.py
Labels: documentation, waiting for triage

fix: bug getting version in qlib/__init__.py
  qlib/__init__.py
  setup.py
Labels: waiting for triage

fix: bug getting version in setup.py
  qlib/__init__.py
  setup.py
Labels: waiting for triage

fix: bug getting version in qlib/__init__.py
  qlib/__init__.py
Labels: waiting for triage

feat: add comprehensive short selling support to qlib backtest framework
  qlib/backtest/borrow_fee_model.py
  qlib/backtest/shortable_backtest.py
  qlib/backtest/shortable_exchange.py
  qlib/backtest/shortable_position.py
  qlib/config.py
  qlib/constant.py
  qlib/examples/shortable_backtest_crypto_loop.py
  qlib/examples/shortable_debug_day.py
  qlib/tests/test_shortable_crypto_real.py
Labels: waiting for triage

fix: replace deprecated pandas fillna(method=) with ffill()/bfill()
  qlib/backtest/profit_attribution.py
  qlib/contrib/ops/high_freq.py
  qlib/contrib/report/analysis_position/parse_position.py
  qlib/data/dataset/storage.py
  qlib/model/riskmodel/shrink.py
  qlib/utils/mod.py
  qlib/utils/resam.py
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/yahoo/collector.py
  scripts/dump_bin.py
Labels: waiting for triage

feat: enhance shortable trading system with Long-Short strategies
  qlib/backtest/shortable_backtest.py
  qlib/backtest/shortable_exchange.py
  qlib/contrib/strategy/signal_strategy.py
  qlib/examples/shortable_backtest_crypto_loop.py
  qlib/examples/workflow_by_code_longshort_crypto.py
Labels: waiting for triage
