Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

fix typo
  qlib/data/storage/file_storage.py
Labels: waiting for triage

add pit backend: FilePITStorage
  qlib/data/data.py
  qlib/data/storage/file_storage.py
  qlib/data/storage/storage.py
  tests/test_pit.py
Labels: waiting for triage

[feat] high freq
  qlib/data/storage/file_storage.py
  qlib/utils/time.py
Labels: waiting for triage

Fix the bug of reading NA string as NaN in exists_qlib_data.
  .gitignore
  qlib/utils/__init__.py
Labels: waiting for triage

Fix the .gitignore file.
  .gitignore
Labels: waiting for triage

Update README.md
  examples/benchmarks/README.md
Labels: documentation

Update README.md
  examples/benchmarks/README.md
Labels: documentation

Update README.md
  examples/benchmarks/README.md
Labels: documentation

Update installation.rst - fixed typo on line 20
  docs/start/installation.rst
Labels: documentation

fix StaticDataLoader
  qlib/data/dataset/loader.py
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

Update the fix and add some comments.
  qlib/utils/__init__.py
Labels: waiting for triage

Update utils.py for typo
  qlib/data/dataset/utils.py
Labels: waiting for triage

download orderbook data
  examples/orderbook_data/README.md
  qlib/data/dataset/utils.py
  qlib/tests/data.py
Labels: documentation, waiting for triage

fix CI error
  setup.py
Labels: waiting for triage

fix CI error
  examples/benchmarks/TRA/src/model.py
  qlib/backtest/__init__.py
  qlib/backtest/report.py
  qlib/contrib/eva/alpha.py
  qlib/contrib/model/pytorch_tra.py
  qlib/contrib/strategy/signal_strategy.py
  qlib/data/dataset/utils.py
  qlib/model/ens/ensemble.py
  qlib/model/riskmodel/shrink.py
  qlib/workflow/online/strategy.py
  scripts/dump_bin.py
  scripts/dump_pit.py
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

test fix CI error
  tests/test_workflow.py
Labels: waiting for triage

test fix CI error
  tests/test_workflow.py
Labels: waiting for triage

test fix CI error
  tests/test_workflow.py
Labels: waiting for triage

test fix CI error
  tests/test_workflow.py
Labels: waiting for triage

optimize get_data code
  examples/orderbook_data/README.md
  qlib/tests/data.py
  tests/test_workflow.py
Labels: documentation, waiting for triage

optimize get_data code
  qlib/tests/data.py
Labels: waiting for triage

optimize get_data code
  examples/orderbook_data/README.md
  qlib/tests/data.py
Labels: documentation, waiting for triage

optimize README
  examples/orderbook_data/README.md
Labels: documentation

download orderbook data (#1754)
  examples/benchmarks/TRA/src/model.py
  examples/orderbook_data/README.md
  qlib/backtest/__init__.py
  qlib/backtest/report.py
  qlib/contrib/eva/alpha.py
  qlib/contrib/model/pytorch_tra.py
  qlib/contrib/strategy/signal_strategy.py
  qlib/model/ens/ensemble.py
  qlib/model/riskmodel/shrink.py
  qlib/workflow/online/strategy.py
  scripts/dump_bin.py
  scripts/dump_pit.py
  setup.py
  tests/test_workflow.py
Labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
