Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

mtmd
  .DS_Store
  README.md
Labels: documentation, waiting for triage

Create .Rhistory
  .Rhistory
Labels: waiting for triage

mtmd
  README.md
Labels: documentation

mtmd
  .DS_Store
  examples/benchmarks/.DS_Store
Labels: waiting for triage

mtmd
  .DS_Store
  examples/benchmarks/.DS_Store
  examples/benchmarks/MTMD/.DS_Store
  examples/benchmarks/MTMD/LICENSE
  examples/benchmarks/MTMD/dataloader.py
  examples/benchmarks/MTMD/learn.py
  examples/benchmarks/MTMD/learn_memory.py
  examples/benchmarks/MTMD/model.py
  examples/benchmarks/MTMD/model2.py
  examples/benchmarks/MTMD/qlib_csi300_stock_index.npy
  examples/benchmarks/MTMD/utils.py
  examples/benchmarks/MTMD/workflow_config_mtmd_Alpha360.yaml
Labels: waiting for triage

mtmd
  .DS_Store
  examples/benchmarks/.DS_Store
  qlib/contrib/model/__init__.py
Labels: waiting for triage

mtmd
  .DS_Store
  examples/.DS_Store
  qlib/contrib/.DS_Store
Labels: waiting for triage

Update .DS_Store
  examples/.DS_Store
Labels: waiting for triage

mtmd
  .DS_Store
  qlib/contrib/model/pytorch_mtmd.py
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

MTMD: *Update README.md
  README.md
Labels: documentation

MTMD: Update README.md
  README.md
Labels: documentation

Create README.md
  examples/benchmarks/MTMD/README.md
Labels: documentation

fix docs
  .readthedocs.yml
Labels: waiting for triage

Update README.md
  examples/benchmarks/README.md
Labels: documentation

Create requirements.txt
  examples/benchmarks/MTMD/requirements.txt
Labels: waiting for triage

Create workflow_config_mtmd_Alpha360.yaml
  examples/benchmarks/MTMD/workflow_config_mtmd_Alpha360.yaml
Labels: waiting for triage

Create pytorch_mtmd.py
  qlib/contrib/model/pytorch_mtmd.py
Labels: waiting for triage

Create README.md
  examples/benchmarks/MTMD/README.md
Labels: documentation

Update README.md
  examples/benchmarks/README.md
Labels: documentation

Update README.md
  examples/benchmarks/MTMD/README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  examples/benchmarks/MTMD/README.md
Labels: documentation

Delete redundant copy() code to speed up
  qlib/data/data.py
Labels: waiting for triage

remove index file check
  qlib/data/data.py
Labels: waiting for triage

deal with empty data
  qlib/data/data.py
  qlib/data/pit.py
Labels: waiting for triage

lint
  qlib/data/data.py
  qlib/utils/__init__.py
Labels: waiting for triage

improve docstring
  qlib/data/storage/file_storage.py
  qlib/data/storage/storage.py
  tests/test_pit.py
Labels: waiting for triage

fix pitstorage update
  qlib/data/storage/file_storage.py
Labels: waiting for triage

deal with empty data file
  qlib/data/storage/file_storage.py
Labels: waiting for triage

fix parents not exist
  qlib/data/storage/file_storage.py
Labels: waiting for triage

improve pit performance
  .gitignore
  qlib/data/base.py
  qlib/data/cache.py
  qlib/data/data.py
  qlib/data/pit.py
  qlib/utils/__init__.py
Labels: waiting for triage

remove useless function
  qlib/utils/__init__.py
Labels: waiting for triage

improve pit cache
  qlib/data/data.py
  qlib/utils/__init__.py
Labels: waiting for triage

pit rewrite does not need index
  qlib/data/storage/storage.py
Labels: waiting for triage

make sure dir exist
  qlib/data/storage/file_storage.py
Labels: waiting for triage

check dtype
  qlib/data/storage/file_storage.py
Labels: waiting for triage

fix empty data
  qlib/data/data.py
Labels: waiting for triage

lint
  qlib/data/storage/file_storage.py
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
