Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

test pip install rebuild package
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

test pip install rebuild package
  .github/workflows/python-publish.yml
Labels: waiting for triage

test pip install rebuild package
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

test build package with macos-15
  .github/workflows/python-publish.yml
Labels: waiting for triage

update publish
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  Makefile
  pyproject.toml
  setup.cfg
  setup.py
Labels: waiting for triage

reformat with black
  setup.py
Labels: waiting for triage

Update publish (#1871)
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  Makefile
  pyproject.toml
  setup.cfg
  setup.py
Labels: waiting for triage

Update version
  qlib/__init__.py
Labels: waiting for triage

bump version
  .github/workflows/test_qlib_from_pip.yml
  qlib/__init__.py
Labels: waiting for triage

bump version
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update qlib/contrib/strategy/rule_strategy.py
  qlib/contrib/strategy/rule_strategy.py
Labels: waiting for triage

Update qlib/contrib/strategy/rule_strategy.py
  qlib/contrib/strategy/rule_strategy.py
Labels: waiting for triage

fix_ci_error
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix_ci_error
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  Makefile
Labels: waiting for triage

fix_ci_error
  Makefile
Labels: waiting for triage

fix_ci_error
  Makefile
Labels: waiting for triage

Bump version (#1872)
  .github/workflows/test_qlib_from_pip.yml
  Makefile
  README.md
  qlib/__init__.py
Labels: documentation, waiting for triage

Fix the empty price_s case and self.instruments in SBBStrategyEMA. (#1677)
  qlib/backtest/report.py
  qlib/contrib/strategy/rule_strategy.py
Labels: waiting for triage

Update README.md
  scripts/README.md
Labels: documentation

Update README.md
  examples/benchmarks_dynamic/README.md
Labels: documentation

Update README.md
  scripts/data_collector/crowd_source/README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  scripts/data_collector/crowd_source/README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

fix_issue_1878
  docs/component/highfreq.rst
Labels: documentation

fix_issue_1878
  docs/component/highfreq.rst
Labels: documentation

Fix broken URL for RL (#1881)
  docs/component/highfreq.rst
Labels: documentation

Update links to chenditc/investment_data to always point to latest release (#1877)
  README.md
  examples/benchmarks_dynamic/README.md
  scripts/README.md
  scripts/data_collector/crowd_source/README.md
Labels: documentation

fix_csi300_constituents_url
  scripts/data_collector/cn_index/collector.py
Labels: waiting for triage

Fix issue in readme
  README.md
Labels: documentation

format with black
  scripts/data_collector/cn_index/collector.py
Labels: waiting for triage

Fix csi300 constituents url (#1883)
  README.md
  scripts/data_collector/cn_index/collector.py
Labels: documentation, waiting for triage

adaptation current dataset
  scripts/check_data_health.py
Labels: waiting for triage

format with black
  scripts/check_data_health.py
Labels: waiting for triage

add data health check to docs
  README.md
  docs/component/data.rst
  scripts/check_data_health.py
Labels: documentation, waiting for triage

fix sphinx error
  docs/component/data.rst
Labels: documentation

fix pylint error
  scripts/check_data_health.py
Labels: waiting for triage

update code
  README.md
  docs/component/data.rst
  scripts/check_data_health.py
Labels: documentation, waiting for triage

format with black
  scripts/check_data_health.py
Labels: waiting for triage
