Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

add pit backend: FilePITStorage
  qlib/data/data.py
  qlib/data/storage/file_storage.py
  qlib/data/storage/storage.py
  tests/test_pit.py
Labels: waiting for triage

improve docstring
  qlib/data/storage/file_storage.py
  qlib/data/storage/storage.py
  tests/test_pit.py
Labels: waiting for triage

remove index file check
  qlib/data/data.py
Labels: waiting for triage

pit rewrite does not need index
  qlib/data/storage/storage.py
Labels: waiting for triage

fix issue 1121
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

format with black
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

optimize code logic
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/yahoo/README.md
  scripts/data_collector/yahoo/collector.py
Labels: documentation, waiting for triage

optimize code logic
  scripts/data_collector/yahoo/README.md
Labels: documentation

fix error code
  scripts/data_collector/yahoo/README.md
Labels: documentation

drop warning during code runs
  scripts/data_collector/utils.py
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

optimize code
  scripts/data_collector/baostock_5min/collector.py
Labels: waiting for triage

format with black
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

fix typo
  qlib/data/storage/file_storage.py
Labels: waiting for triage

make sure dir exist
  qlib/data/storage/file_storage.py
Labels: waiting for triage

fix parents not exist
  qlib/data/storage/file_storage.py
Labels: waiting for triage

fix pitstorage update
  qlib/data/storage/file_storage.py
Labels: waiting for triage

check dtype
  qlib/data/storage/file_storage.py
Labels: waiting for triage

fix empty data
  qlib/data/data.py
Labels: waiting for triage

fix bug
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

format with black
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

lint
  qlib/data/storage/file_storage.py
Labels: waiting for triage

fix the warning (#1656)
  scripts/dump_bin.py
Labels: waiting for triage

fix unit test
  qlib/log.py
  tests/rl/test_logger.py
Labels: waiting for triage

deal with empty data file
  qlib/data/storage/file_storage.py
Labels: waiting for triage

optimize code
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

optimize code
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

Update README.md (#1637)
  README.md
Labels: documentation

Update data.rst (#1679)
  docs/component/data.rst
Labels: documentation

add comments
  scripts/data_collector/utils.py
Labels: waiting for triage

add_baostock_collector (#1641)
  .github/workflows/test_qlib_from_source.yml
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/baostock_5min/requirements.txt
  scripts/data_collector/base.py
  scripts/data_collector/br_index/collector.py
  scripts/data_collector/cn_index/collector.py
  scripts/data_collector/crypto/collector.py
  scripts/data_collector/fund/collector.py
  scripts/data_collector/future_calendar_collector.py
  scripts/data_collector/us_index/collector.py
  scripts/data_collector/utils.py
  scripts/data_collector/yahoo/README.md
  scripts/data_collector/yahoo/collector.py
  scripts/dump_bin.py
  scripts/dump_pit.py
  setup.py
Labels: documentation, waiting for triage

fix panic during normalizing the invalid data
  scripts/data_collector/base.py
Labels: waiting for triage

fix yaml load
  qlib/workflow/cli.py
Labels: waiting for triage

change error to warning
  scripts/data_collector/base.py
Labels: waiting for triage

remove useless function
  qlib/utils/__init__.py
Labels: waiting for triage

fix log
  qlib/log.py
  tests/rl/test_logger.py
Labels: waiting for triage

Create README
  examples/benchmarks/MTMD/README
Labels: waiting for triage

Create pytorch_mtmd.py
  qlib/contrib/model/pytorch_mtmd.py
Labels: waiting for triage

mtmd
  .DS_Store
  qlib/.DS_Store
  qlib/contrib/.DS_Store
Labels: waiting for triage

mtmd
  .DS_Store
  examples/.DS_Store
  examples/benchmarks/.DS_Store
  examples/benchmarks/HIST/.DS_Store
  examples/benchmarks/MTMD/LICENSE
  examples/benchmarks/MTMD/README.md
  examples/benchmarks/MTMD/dataloader.py
  examples/benchmarks/MTMD/learn.py
  examples/benchmarks/MTMD/learn_memory.py
  examples/benchmarks/MTMD/model.py
  examples/benchmarks/MTMD/model2.py
  examples/benchmarks/MTMD/requirements.txt
  examples/benchmarks/MTMD/utils.py
Labels: documentation, waiting for triage

mtmd
  .DS_Store
  qlib/.DS_Store
  qlib/contrib/.DS_Store
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
