Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

Add some misc features. (#1816)
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/meta/data_selection/utils.py
  qlib/contrib/model/linear.py
  qlib/contrib/model/pytorch_gru.py
  qlib/contrib/report/data/ana.py
  qlib/contrib/report/data/base.py
  qlib/contrib/report/utils.py
  qlib/contrib/rolling/base.py
  qlib/contrib/rolling/ddgda.py
  qlib/model/meta/task.py
  qlib/utils/mod.py
  qlib/workflow/cli.py
Labels: waiting for triage

add dockerfile
  .dockerignore
  Dockerfile
Labels: waiting for triage

add execute script
  build_docker_image.sh
Labels: waiting for triage

add docs
  Dockerfile
  README.md
  build_docker_image.sh
Labels: documentation, waiting for triage

optimize docs
  README.md
  docs/start/installation.rst
  setup.py
Labels: documentation, waiting for triage

optimize dockerfile
  Dockerfile
Labels: waiting for triage

optimize docs
  docs/start/installation.rst
Labels: documentation

optimize dockerfile
  build_docker_image.sh
  docs/start/installation.rst
Labels: documentation, waiting for triage

nested data loader
  qlib/contrib/data/handler.py
  qlib/contrib/data/loader.py
  qlib/data/dataset/loader.py
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

Amend
  qlib/data/dataset/loader.py
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

add data loder test
  qlib/contrib/data/handler.py
  qlib/contrib/data/loader.py
  qlib/data/dataset/loader.py
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

fix pylint error
  qlib/contrib/data/handler.py
  qlib/contrib/data/loader.py
Labels: waiting for triage

fix pytest error
  qlib/contrib/data/handler.py
Labels: waiting for triage

fix pytest error
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

delete comments
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

Update qlib/contrib/data/handler.py
  qlib/contrib/data/handler.py
Labels: waiting for triage

Nested data loader (#1822)
  qlib/contrib/data/handler.py
  qlib/contrib/data/loader.py
  qlib/data/dataset/loader.py
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

More dataloader example
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

optimize code
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

Init model for both dataset
  qlib/contrib/model/pytorch_general_nn.py
  tests/model/test_general_nn.py
Labels: waiting for triage

Remove some deprecated code
  qlib/contrib/model/pytorch_general_nn.py
Labels: waiting for triage

optimeze code
  qlib/data/dataset/loader.py
Labels: waiting for triage

optimeze code
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

optimeze code
  qlib/data/dataset/loader.py
Labels: waiting for triage

optimeze code
  qlib/data/dataset/loader.py
Labels: waiting for triage

optimeze code
  qlib/data/dataset/loader.py
Labels: waiting for triage

fix pylint error
  qlib/data/dataset/loader.py
Labels: waiting for triage

fix CI error
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix CI error
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

Comments
  qlib/data/dataset/loader.py
Labels: waiting for triage

Add model template;
  examples/benchmarks/GeneralPtNN/README.md
  examples/benchmarks/GeneralPtNN/workflow_config_gru.yaml
  examples/benchmarks/GeneralPtNN/workflow_config_mlp.yaml
Labels: documentation, waiting for triage

We must align with previous results
  examples/benchmarks/GeneralPtNN/workflow_config_gru.yaml
  examples/benchmarks/GeneralPtNN/workflow_config_mlp.yaml
Labels: waiting for triage

We choose another mode as the initial version
  qlib/contrib/model/pytorch_general_nn.py
Labels: waiting for triage

fix error type
  qlib/data/dataset/loader.py
Labels: waiting for triage

Almost success to run GRU
  qlib/contrib/model/pytorch_general_nn.py
  tests/model/test_general_nn.py
Labels: waiting for triage

Successfully run training
  qlib/contrib/model/pytorch_general_nn.py
  tests/model/test_general_nn.py
Labels: waiting for triage

More dataloader example (#1823)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  qlib/data/dataset/loader.py
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

Passed general_nn test
  qlib/contrib/model/pytorch_general_nn.py
Labels: waiting for triage

gru test
  examples/benchmarks/GeneralPtNN/workflow_config_gru.yaml
  qlib/contrib/model/pytorch_general_nn.py
  tests/model/test_general_nn.py
Labels: waiting for triage

Alignment test passed
  examples/benchmarks/GeneralPtNN/workflow_config_gru.yaml
  examples/benchmarks/GeneralPtNN/workflow_config_mlp.yaml
Labels: waiting for triage
