Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

optimize code
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

Fix TSDataSampler Slicing Bug with simplyer implmentation#1716 with Simplified Implementation
  qlib/data/dataset/__init__.py
Labels: waiting for triage

Fix typo
  qlib/data/data.py
  qlib/workflow/task/utils.py
Labels: waiting for triage

optimize code
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

fix ci error
  setup.py
Labels: waiting for triage

check ci error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix ci error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Add "mse" metric option to ALSTM.metric_fn
  qlib/contrib/model/pytorch_alstm_ts.py
Labels: waiting for triage

check ci error
  docs/conf.py
Labels: documentation

check ci error
  .github/workflows/test_qlib_from_source.yml
  docs/conf.py
Labels: documentation, waiting for triage

Add "mse" metric option to ALSTM.metric_fn (#1810)
  qlib/contrib/model/pytorch_alstm_ts.py
Labels: waiting for triage

Fix typo (#1809)
  qlib/data/data.py
  qlib/workflow/task/utils.py
Labels: waiting for triage

Fix typo
  docs/component/model.rst
  examples/workflow_by_code.ipynb
  qlib/model/trainer.py
  scripts/data_collector/crypto/README.md
  tests/test_all_pipeline.py
Labels: documentation, waiting for triage

check ci error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

check ci error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

check ci error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

check ci error
  .github/workflows/test_qlib_from_source.yml
  setup.py
Labels: waiting for triage

Refactor: Fix CI errors by addressing pylint formatting issues
  tests/data_mid_layer_tests/test_dataset.py
Labels: waiting for triage

Refactor: Remove extraneous whitespace for improved code formatting with Black
  qlib/data/dataset/__init__.py
Labels: waiting for triage

fix ci error
  .github/workflows/test_qlib_from_source.yml
  setup.py
Labels: waiting for triage

Fix typo (#1811)
  docs/component/model.rst
  examples/workflow_by_code.ipynb
  qlib/model/trainer.py
  scripts/data_collector/crypto/README.md
  tests/test_all_pipeline.py
Labels: documentation, waiting for triage

fix ci error
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix ci error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Fix TSDataSampler Slicing Bug #1716 (#1803)
  qlib/data/dataset/__init__.py
  tests/data_mid_layer_tests/test_dataset.py
Labels: waiting for triage

fix ci error
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

fix ci error
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Fix Yahoo daily data format inconsistent (#1517)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  scripts/data_collector/yahoo/collector.py
  setup.py
Labels: waiting for triage

change weight data download url
  examples/portfolio/README.md
Labels: documentation

change weight data download url (#1812)
  examples/portfolio/README.md
Labels: documentation

Update index_data.py for data convertion and alignment
  qlib/model/riskmodel/shrink.py
  qlib/utils/index_data.py
  tests/misc/test_index_data.py
Labels: waiting for triage

add a note for code standard
  docs/developer/code_standard_and_dev_guide.rst
Labels: documentation

Update qlib/utils/index_data.py
  qlib/utils/index_data.py
Labels: waiting for triage

Update qlib/utils/index_data.py
  qlib/utils/index_data.py
Labels: waiting for triage

fix linting
  qlib/model/riskmodel/shrink.py
  qlib/utils/index_data.py
Labels: waiting for triage

handle both cases
  docs/developer/code_standard_and_dev_guide.rst
Labels: documentation

add a note for code standard (#1814)
  docs/developer/code_standard_and_dev_guide.rst
Labels: documentation

Update index_data.py for datatype conversion and alignment (#1813)
  qlib/utils/index_data.py
  tests/misc/test_index_data.py
Labels: waiting for triage

Normal mod
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/meta/data_selection/utils.py
  qlib/contrib/model/linear.py
  qlib/contrib/model/pytorch_gru.py
  qlib/contrib/report/data/ana.py
  qlib/contrib/report/data/base.py
  qlib/contrib/report/utils.py
  qlib/contrib/rolling/base.py
  qlib/contrib/rolling/ddgda.py
  qlib/model/meta/task.py
  qlib/utils/mod.py
  qlib/workflow/cli.py
Labels: waiting for triage

Black linting
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/utils.py
  qlib/contrib/model/pytorch_gru.py
  qlib/contrib/report/data/ana.py
  qlib/contrib/report/data/base.py
  qlib/contrib/rolling/ddgda.py
  qlib/workflow/cli.py
Labels: waiting for triage

Linting
  qlib/workflow/cli.py
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
