Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

fix ci error
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

Saurabh12571257/main (#1866)
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  README.md
Labels: documentation, waiting for triage

Update README.md
  README.md
Labels: documentation

fix_duplicate_log
  qlib/config.py
  qlib/log.py
Labels: waiting for triage

fix_duplicate_log
  tests/rl/test_logger.py
Labels: waiting for triage

fix some requirement issue
  examples/benchmarks/CatBoost/requirements.txt
  examples/benchmarks/DoubleEnsemble/requirements.txt
Labels: waiting for triage

update requirements
  examples/benchmarks/KRNN/requirements.txt
  examples/benchmarks/LightGBM/requirements.txt
  examples/benchmarks/Linear/requirements.txt
Labels: waiting for triage

add comments
  tests/rl/test_logger.py
Labels: waiting for triage

fix duplicate log (#1661)
  qlib/config.py
  tests/rl/test_logger.py
Labels: waiting for triage

update python version
  examples/benchmarks/TRA/example.py
  examples/data_demo/data_cache_demo.py
  examples/data_demo/data_mem_resuse_demo.py
  examples/run_all_model.py
  pyproject.toml
  qlib/__init__.py
  qlib/backtest/high_performance_ds.py
  qlib/backtest/report.py
  qlib/contrib/online/manager.py
  qlib/contrib/online/utils.py
  qlib/contrib/rolling/base.py
  qlib/contrib/tuner/config.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/utils/__init__.py
  qlib/utils/index_data.py
  qlib/workflow/cli.py
  setup.cfg
  setup.py
  tests/misc/test_index_data.py
Labels: waiting for triage

fix: Correct selector handling and add time filtering in storage.py
  .gitignore
  qlib/data/dataset/storage.py
Labels: waiting for triage

fix: convert index and columns to list in repr methods
  qlib/utils/index_data.py
Labels: waiting for triage

feat: Add Makefile for managing project prerequisites
  Makefile
Labels: waiting for triage

feat: Add Cython extensions for rolling and expanding operations
  Makefile
  pyproject.toml
Labels: waiting for triage

resolve install error
  Makefile
  pyproject.toml
  setup.py
Labels: waiting for triage

fix lint error
  Makefile
  examples/benchmarks/TRA/example.py
  examples/data_demo/data_cache_demo.py
  examples/data_demo/data_mem_resuse_demo.py
  examples/run_all_model.py
  pyproject.toml
  qlib/__init__.py
  qlib/contrib/model/pytorch_adarnn.py
  qlib/contrib/online/manager.py
  qlib/contrib/online/utils.py
  qlib/contrib/rolling/base.py
  qlib/contrib/tuner/config.py
  qlib/data/filter.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/utils/__init__.py
  qlib/workflow/cli.py
  qlib/workflow/expm.py
  setup.cfg
Labels: waiting for triage

fix lint error
  qlib/data/dataset/storage.py
Labels: waiting for triage

fix lint error
  Makefile
  pyproject.toml
  qlib/contrib/model/pytorch_adarnn.py
Labels: waiting for triage

fix lint error
  qlib/contrib/data/handler.py
  qlib/contrib/model/catboost_model.py
  qlib/contrib/model/double_ensemble.py
  qlib/contrib/model/pytorch_adarnn.py
  qlib/contrib/model/pytorch_add.py
  qlib/contrib/model/pytorch_alstm.py
  qlib/contrib/model/pytorch_alstm_ts.py
  qlib/contrib/model/pytorch_gats.py
  qlib/contrib/model/pytorch_gats_ts.py
  qlib/contrib/model/pytorch_gru.py
  qlib/contrib/model/pytorch_gru_ts.py
  qlib/contrib/model/pytorch_hist.py
  qlib/contrib/model/pytorch_igmtf.py
  qlib/contrib/model/pytorch_krnn.py
  qlib/contrib/model/pytorch_localformer.py
  qlib/contrib/model/pytorch_localformer_ts.py
  qlib/contrib/model/pytorch_lstm.py
  qlib/contrib/model/pytorch_lstm_ts.py
  qlib/contrib/model/pytorch_sandwich.py
  qlib/contrib/model/pytorch_sfm.py
  qlib/contrib/model/pytorch_tcn.py
  qlib/contrib/model/pytorch_tcn_ts.py
  qlib/contrib/model/pytorch_tcts.py
  qlib/contrib/model/pytorch_transformer.py
  qlib/contrib/model/pytorch_transformer_ts.py
  qlib/contrib/model/xgboost.py
  qlib/contrib/report/graph.py
  qlib/data/dataset/storage.py
Labels: waiting for triage

fix lint error
  Makefile
  pyproject.toml
Labels: waiting for triage

update build package
  MANIFEST.in
  Makefile
  pyproject.toml
Labels: waiting for triage

update makefile
  Makefile
Labels: waiting for triage

update ci yaml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  Makefile
Labels: waiting for triage

fix docs build error
  pyproject.toml
Labels: waiting for triage

fix ubuntu install error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix docs build error
  pyproject.toml
Labels: waiting for triage

fix install error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix install error
  .github/workflows/test_qlib_from_source.yml
  pyproject.toml
Labels: waiting for triage

fix install error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix install error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix pylint error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix pylint error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix pylint error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix pylint error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix pylint error E1123
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix pylint error R0917
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix pytest error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

add test notebook for us market
  examples/tutorial/detailed_workflow.ipynb
Labels: waiting for triage

fix pytest error
  .github/workflows/test_qlib_from_source_slow.yml
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

fix pytest error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
