Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

comment
  examples/benchmarks/GeneralPtNN/README.md
  examples/benchmarks/GeneralPtNN/workflow_config_mlp.yaml
Labels: documentation, waiting for triage

fix readme & minor errors
  examples/benchmarks/GeneralPtNN/README.md
  qlib/contrib/model/pytorch_general_nn.py
  qlib/contrib/model/pytorch_gru.py
  tests/model/test_general_nn.py
Labels: documentation, waiting for triage

general nn updates & benchmarks
  examples/benchmarks/GeneralPtNN/README.md
  examples/benchmarks/GeneralPtNN/workflow_config_gru2mlp.yaml
  examples/benchmarks/GeneralPtNN/workflow_config_mlp.yaml
  qlib/contrib/model/pytorch_general_nn.py
  tests/model/test_general_nn.py
Labels: documentation, waiting for triage

Update examples/benchmarks/GeneralPtNN/workflow_config_gru2mlp.yaml
  examples/benchmarks/GeneralPtNN/workflow_config_gru2mlp.yaml
Labels: waiting for triage

Ptnn4both datatypes and alignment tests (#1827)
  examples/benchmarks/GeneralPtNN/README.md
  examples/benchmarks/GeneralPtNN/workflow_config_gru.yaml
  examples/benchmarks/GeneralPtNN/workflow_config_gru2mlp.yaml
  examples/benchmarks/GeneralPtNN/workflow_config_mlp.yaml
  qlib/contrib/model/pytorch_general_nn.py
  qlib/contrib/model/pytorch_gru.py
  tests/model/test_general_nn.py
Labels: documentation, waiting for triage

Update requirements.txt
  scripts/data_collector/br_index/requirements.txt
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

🔥LLM-driven Auto Quant Factory🔥 (#1840)
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create 小白安装指南
  小白安装指南
Labels: waiting for triage

fix break img
  README.md
  qlib/contrib/model/pytorch_hist.py
Labels: documentation, waiting for triage

fix break img (#1842)
  README.md
  qlib/contrib/model/pytorch_hist.py
Labels: documentation, waiting for triage

pyqlib-ai-features-addition.py
  pyqlib-ai-features-addition.py
Labels: waiting for triage

Update README.md (#1839)
  README.md
Labels: documentation

update readme
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

add the logo of rdagent to readme
  README.md
  docs/_static/img/rdagent_logo.png
Labels: documentation

adjust the height of the logo
  README.md
Labels: documentation

improve some works in readme
  README.md
Labels: documentation

add a line
  README.md
Labels: documentation

Update README.md to show rdagent in qlib front page (#1848)
  README.md
  docs/_static/img/rdagent_logo.png
Labels: documentation

Update README.md
  README.md
Labels: documentation

chore: introduce ruff pre-commit hoooks
  .pre-commit-config.yaml
  pyproject.toml
Labels: waiting for triage

update code & update README
  Dockerfile
  README.md
  build_docker_image.sh
  docs/developer/how_to_build_image.rst
  docs/index.rst
  docs/start/installation.rst
Labels: documentation, waiting for triage

doc build error
  docs/conf.py
Labels: documentation

update docs
  README.md
  docs/developer/how_to_build_image.rst
  setup.py
Labels: documentation, waiting for triage

update code
  .readthedocs.yaml
  Dockerfile
  README.md
  build_docker_image.sh
  docs/developer/how_to_build_image.rst
  setup.py
Labels: documentation, waiting for triage

add dockerfile (#1817)
  .dockerignore
  .readthedocs.yaml
  Dockerfile
  README.md
  build_docker_image.sh
  docs/conf.py
  docs/developer/how_to_build_image.rst
  docs/index.rst
  setup.py
Labels: documentation, waiting for triage

update cli.py to make it can run with gpu
  qlib/workflow/cli.py
Labels: waiting for triage

add comfig to support us market
  examples/benchmarks/ADARNN/workflow_config_adarnn_Alpha360_us.yaml
  examples/benchmarks/TCTS/workflow_config_tcts_Alpha360_us.yaml
Labels: waiting for triage

fix the error for run_all_model.py
  examples/run_all_model.py
Labels: waiting for triage

update url to get qlib source code from own repository
  examples/run_all_model_us.py
Labels: waiting for triage

Fix ValueError in dump_bin.py by excluding 'symbol' field from conversion
  scripts/data_collector/baostock_5min/README.md
  scripts/dump_bin.py
Labels: documentation, waiting for triage

Update requirements.txt (#1829)
  scripts/data_collector/br_index/requirements.txt
Labels: waiting for triage

test macos ci
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

test macos ci
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

test macos ci
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix ci error
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage
