Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

fix: trailofbits.python.pickles-in-pandas.pickles-in-pandas-examples-benchmarks-TFT-tft.py
  examples/benchmarks/TFT/tft.py
Labels: waiting for triage

modify the code as suggested
  qlib/contrib/data/dataset.py
  qlib/utils/data.py
  tests/misc/test_utils.py
Labels: waiting for triage

format code with pylint
  qlib/utils/data.py
Labels: waiting for triage

fix pytest error
  tests/misc/test_utils.py
Labels: waiting for triage

Add util function to help automatically get horizon (#1509)
  examples/benchmarks/TRA/workflow_config_tra_Alpha158.yaml
  examples/benchmarks/TRA/workflow_config_tra_Alpha158_full.yaml
  examples/benchmarks/TRA/workflow_config_tra_Alpha360.yaml
  qlib/contrib/data/dataset.py
  qlib/utils/data.py
  tests/misc/test_utils.py
Labels: waiting for triage

Implement geometric accumulation mode for risk_analysis function (#964) (#1938)
  qlib/contrib/evaluate.py
Labels: waiting for triage

Fix handling of maxtasksperchild in ParallelExt for better compatibility with joblib backend
  qlib/utils/paral.py
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

Update README.md (#1940)
  README.md
Labels: documentation

Fixing Security Vulnerabilities
  qlib/__init__.py
Labels: waiting for triage

Fixing Pylint Error
  qlib/__init__.py
Labels: waiting for triage

Fixing Security Vulnerabilities windows
  qlib/__init__.py
Labels: waiting for triage

format with black
  qlib/__init__.py
Labels: waiting for triage

using returncode to locate problems
  qlib/__init__.py
Labels: waiting for triage

fix pylint error
  qlib/__init__.py
Labels: waiting for triage

Fixing Security Vulnerabilities (#1941)
  qlib/__init__.py
Labels: waiting for triage

fix: typo
  README.md
Labels: documentation

fix: typo (#1943)
  README.md
Labels: documentation

fix: trailofbits.python.pickles-in-pandas.pickles-in-pandas-examples-benchmarks-TFT-tft.py
  examples/benchmarks/TFT/tft.py
Labels: waiting for triage

fix: python.lang.security.audit.eval-detected.eval-detected-examples-benchmarks-TRA-src-model.py
  examples/benchmarks/TRA/src/model.py
Labels: waiting for triage

update parser
  qlib/data/base.py
  qlib/data/ops.py
  qlib/utils/__init__.py
Labels: waiting for triage

add paser files and test
  qlib/data/parser.py
  qlib/tests/test_utils_parser.py
  qlib/utils/parser.py
Labels: waiting for triage

first phase of factor engine
  .pre-commit-config.yaml
  qlib/utils/data.py
Labels: waiting for triage

first phase of factor engine
  factor_engine/__init__.py
  factor_engine/core/__init__.py
  factor_engine/core/dag.py
  factor_engine/data_layer/__init__.py
  factor_engine/data_layer/calendar.py
  factor_engine/data_layer/containers.py
  factor_engine/data_layer/loader.py
  factor_engine/scripts/create_test_data.py
  factor_engine/tests/conftest.py
  factor_engine/tests/test_data/2023/20230103.parquet
  factor_engine/tests/test_data/2023/20230104.parquet
  factor_engine/tests/test_data/2023/20230105.parquet
  factor_engine/tests/test_data_layer.py
Labels: waiting for triage

feat(operators): Expand operator library and add tests
  .DS_Store
  factor_engine/operators.py
  factor_engine/parser_planner/ast.py
  factor_engine/parser_planner/parser.py
  factor_engine/parser_planner/planner.py
  factor_engine/tests/conftest.py
  factor_engine/tests/test_operators.py
  factor_engine/tests/test_parser_planner.py
  开发说明书.md
Labels: documentation, waiting for triage

feat(engine): Implement parallel scheduler and execution engine
  factor_engine/engine/scheduler.py
  factor_engine/engine/utils.py
  factor_engine/tests/test_engine.py
  开发说明书.md
Labels: documentation, waiting for triage

feat(engine): Implement and integrate caching system
  factor_engine/engine/cache.py
  factor_engine/engine/context.py
  factor_engine/engine/scheduler.py
  factor_engine/engine/utils.py
  factor_engine/parser_planner/planner.py
  factor_engine/tests/test_cache.py
  factor_engine/tests/test_engine.py
  开发说明书.md
Labels: documentation, waiting for triage

chage the logic of opreator
  factor_engine/operators.py
Labels: waiting for triage

update the factor engine into real data support
  .DS_Store
  .gitignore
  factor_engine/data_layer/loader.py
  factor_engine/engine/scheduler.py
  factor_engine/engine/utils.py
  factor_engine/operators.py
  factor_engine/parser_planner/planner.py
  factor_engine/registry.py
  factor_engine/scripts/factor_testing.py
  factor_engine/tests/conftest.py
  factor_engine/tests/test_cache.py
  factor_engine/tests/test_data_layer.py
  factor_engine/tests/test_engine.py
  factor_engine/tests/test_operators.py
  qlib/.DS_Store
Labels: waiting for triage

debug the cache system
  factor_engine/debug_cache.py
  factor_engine/debug_cache2.py
  factor_engine/debug_cache3.py
  factor_engine/engine/scheduler.py
  factor_engine/parser_planner/planner.py
  factor_engine/tests/test_cache.py
Labels: waiting for triage

Fix yahoo collector for us stock
  scripts/data_collector/utils.py
Labels: waiting for triage

Fix
  scripts/data_collector/utils.py
Labels: waiting for triage

Update _get_eastmoney
  scripts/data_collector/utils.py
Labels: waiting for triage

Fix
  scripts/data_collector/utils.py
Labels: waiting for triage

adapted qtrader calendar
  factor_engine/data_layer/calendar.py
  factor_engine/tests/test_calendar.py
  factor_engine/tests/test_engine.py
  factor_engine/tests/test_operators.py
Labels: waiting for triage

refactor: introduce BaseDataHandler and unify fetch interface
  qlib/data/dataset/__init__.py
  qlib/data/dataset/handler.py
  qlib/data/dataset/storage.py
Labels: waiting for triage

refactor: include data_key in seg_kwargs and simplify segments loop
  qlib/data/dataset/__init__.py
Labels: waiting for triage

refactor: default data_key to BaseDataHandler.DK_I in _get_df_by_key
  qlib/data/dataset/handler.py
Labels: waiting for triage

style: fix indentation and remove extra blank lines in data handlers
  qlib/data/dataset/handler.py
  qlib/data/dataset/storage.py
Labels: waiting for triage

refactor: use BaseDataHandler.DK_I as default data_key
  qlib/data/dataset/handler.py
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
