Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

update pickle_styled
  qlib/rl/data/pickle_styled.py
Labels: waiting for triage

update pickle_styled
  qlib/rl/data/pickle_styled.py
Labels: waiting for triage

update data provider
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/interpreter.py
Labels: waiting for triage

Resolve PR comments
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/order_execution/interpreter.py
  qlib/rl/order_execution/policy.py
  qlib/rl/order_execution/reward.py
Labels: waiting for triage

CI issues
  .github/workflows/test_qlib_from_source.yml
  qlib/backtest/__init__.py
  qlib/backtest/account.py
  qlib/backtest/backtest.py
  qlib/backtest/decision.py
  qlib/backtest/exchange.py
  qlib/backtest/executor.py
  qlib/backtest/position.py
  qlib/backtest/report.py
  qlib/backtest/utils.py
  qlib/rl/contrib/backtest.py
  qlib/rl/data/integration.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/policy.py
  qlib/rl/order_execution/reward.py
  qlib/rl/order_execution/simulator_qlib.py
  qlib/rl/order_execution/strategy.py
  qlib/rl/strategy/single_order.py
  qlib/rl/utils/data_queue.py
  qlib/rl/utils/env_wrapper.py
  qlib/rl/utils/log.py
Labels: waiting for triage

CI issues
  qlib/backtest/account.py
Labels: waiting for triage

Delete pytorch_krnn.py
  qlib/contrib/model/pytorch_krnn.py
Labels: waiting for triage

Delete pytorch_sandwich.py
  qlib/contrib/model/pytorch_sandwich.py
Labels: waiting for triage

Add files via upload
  qlib/contrib/model/pytorch_krnn.py
  qlib/contrib/model/pytorch_sandwich.py
Labels: waiting for triage

CI issues
  qlib/rl/utils/data_queue.py
Labels: waiting for triage

RL backtest pipeline on 5-min data (#1417)
  .github/workflows/test_qlib_from_source.yml
  qlib/backtest/__init__.py
  qlib/backtest/account.py
  qlib/backtest/backtest.py
  qlib/backtest/decision.py
  qlib/backtest/exchange.py
  qlib/backtest/executor.py
  qlib/backtest/position.py
  qlib/backtest/report.py
  qlib/backtest/utils.py
  qlib/contrib/ops/high_freq.py
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/integration.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/interpreter.py
  qlib/rl/order_execution/policy.py
  qlib/rl/order_execution/reward.py
  qlib/rl/order_execution/simulator_qlib.py
  qlib/rl/order_execution/strategy.py
  qlib/rl/strategy/single_order.py
  qlib/rl/utils/data_queue.py
  qlib/rl/utils/env_wrapper.py
  qlib/rl/utils/log.py
Labels: waiting for triage

logger
  qlib/rl/utils/log.py
Labels: waiting for triage

minor
  qlib/rl/data/pickle_styled.py
  qlib/rl/utils/log.py
Labels: waiting for triage

debug
  qlib/rl/utils/log.py
Labels: waiting for triage

OPDT network
  qlib/rl/order_execution/network.py
Labels: waiting for triage

OPD policy
  qlib/rl/order_execution/policy.py
Labels: waiting for triage

data
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/interpreter.py
Labels: waiting for triage

add ipynb format check to workflow
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Revert "add ipynb format check to workflow"
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

add ipynb format check to workflow
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Update setup.py
  setup.py
Labels: waiting for triage

Update test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

add ipynb format check to workflow
  setup.py
Labels: waiting for triage

test ipynb CI
  olympics-1-collect-data-wrong.ipynb
  olympics-1-collect-data.ipynb
Labels: waiting for triage

modify nbqa check path
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

add pylint flake8 mypy check to ipynb
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

check ipynb with black and pylint
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

reformat .ipynb files
  examples/benchmarks/TRA/Reports.ipynb
  examples/rl/simple_example.ipynb
  examples/tutorial/detailed_workflow.ipynb
  examples/workflow_by_code.ipynb
  olympics-1-collect-data-wrong.ipynb
Labels: waiting for triage

format line length
  examples/benchmarks/TRA/Reports.ipynb
  examples/tutorial/detailed_workflow.ipynb
  examples/workflow_by_code.ipynb
  olympics-1-collect-data-wrong.ipynb
  olympics-1-collect-data.ipynb
Labels: waiting for triage

update nbqa .ipynb format CI
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

format old ipynb files
  .github/workflows/test_qlib_from_source.yml
  examples/tutorial/detailed_workflow.ipynb
  examples/workflow_by_code.ipynb
  olympics-1-collect-data-wrong.ipynb
  olympics-1-collect-data.ipynb
Labels: waiting for triage

add nbconvert check to CI
  .github/workflows/test_qlib_from_source.yml
  setup.py
Labels: waiting for triage

adjust CI order to avoid repeating download data
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Add ipynb format check (#1439)
  .github/workflows/test_qlib_from_source.yml
  examples/benchmarks/TRA/Reports.ipynb
  examples/rl/simple_example.ipynb
  examples/tutorial/detailed_workflow.ipynb
  examples/workflow_by_code.ipynb
  setup.py
Labels: waiting for triage

add_5min_collector
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

reformat_code
  scripts/data_collector/baostock_5min/collector.py
Labels: waiting for triage

Waiting for bin data
  .gitignore
  examples/rl_order_execution/README.md
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
  examples/rl_order_execution/scripts/collect_pickle_dataframe.py
  examples/rl_order_execution/scripts/gen_pickle_data.py
  examples/rl_order_execution/scripts/gen_training_orders.py
  examples/rl_order_execution/scripts/merge_orders.py
  examples/rl_order_execution/scripts/pickle_data_config.yml
  qlib/rl/contrib/backtest.py
  qlib/rl/order_execution/reward.py
Labels: documentation, waiting for triage

Complete readme
  examples/rl_order_execution/README.md
Labels: documentation

CI
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/scripts/gen_training_orders.py
  qlib/rl/contrib/backtest.py
Labels: waiting for triage

Add inst filter by time
  examples/benchmarks/LightGBM/multi_freq_handler.py
  examples/benchmarks/LightGBM/workflow_config_lightgbm_Alpha158_multi_freq.yaml
  examples/benchmarks/LightGBM/workflow_config_lightgbm_multi_freq.yaml
  qlib/contrib/data/handler.py
  qlib/contrib/data/highfreq_handler.py
  qlib/data/dataset/loader.py
  qlib/data/dataset/processor.py
Labels: waiting for triage
