Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

add image to markdown;
  qlib/contrib/analyzer.py
  qlib/finco/task.py
Labels: waiting for triage

Add some log
  qlib/contrib/analyzer.py
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

Add multi pass port ana record
  qlib/workflow/record_temp.py
Labels: waiting for triage

Add list function
  qlib/workflow/record_temp.py
Labels: waiting for triage

Add documentation and support <MODEL> tag
  qlib/workflow/record_temp.py
Labels: waiting for triage

Add drop in replacement example
  examples/benchmarks/Linear/workflow_config_linear_Alpha158_multi_pass_bt.yaml
Labels: waiting for triage

reformat
  qlib/workflow/record_temp.py
Labels: waiting for triage

Do not create venv each iteration & use separate data iterator for each parallel worker (#1522)
  qlib/backtest/__init__.py
  qlib/backtest/exchange.py
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/contrib/train_onpolicy_full_simulation.py
  qlib/rl/data/native.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/simulator_qlib.py
  qlib/rl/order_execution/simulator_simple.py
  qlib/rl/order_execution/strategy.py
  qlib/rl/trainer/api.py
  qlib/rl/trainer/trainer.py
  qlib/rl/trainer/vessel.py
  qlib/rl/utils/finite_env.py
  qlib/rl/utils/profiling.py
Labels: waiting for triage

update figure path.
  qlib/finco/task.py
Labels: waiting for triage

Add recorder task and visualize (#1542)
  qlib/contrib/analyzer.py
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/task.py
  qlib/finco/workflow.py
  qlib/workflow/record_temp.py
  tests/finco/test_sumarize.py
Labels: waiting for triage

update code
  qlib/finco/README.md
  qlib/finco/task.py
Labels: documentation, waiting for triage

move prompt templates to yaml file to make code clean
  qlib/finco/prompt_template.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
Labels: waiting for triage

format
  qlib/finco/task.py
Labels: waiting for triage

use FinCoLog for a better interact experience
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/task.py
Labels: waiting for triage

addition file changes
  qlib/finco/workflow.py
Labels: waiting for triage

add datahandler and design action task according to component
  qlib/finco/__init__.py
  qlib/finco/prompt_template.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

remove useless prompt
  qlib/finco/prompt_template.yaml
Labels: waiting for triage

optimize format
  qlib/finco/log.py
  qlib/finco/workflow.py
Labels: waiting for triage

optimize format
  qlib/finco/log.py
Labels: waiting for triage

Optimize log and interact of FinCo (#1549)
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

fix using defaut in record strategy and backtest
  qlib/finco/prompt_template.yaml
  qlib/finco/workflow.py
Labels: waiting for triage

* optimize interact * add AnalyserTask * optimize logger format and add render feature
  qlib/finco/conf.py
  qlib/finco/log.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

format optimize
  qlib/finco/task.py
Labels: waiting for triage

Add analyser task and optimize interact (#1552)
  qlib/finco/conf.py
  qlib/finco/log.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

check dir exist for storage
  qlib/data/storage/file_storage.py
Labels: waiting for triage

index should be int
  qlib/data/storage/file_storage.py
Labels: waiting for triage

Change according to comments
  qlib/workflow/record_temp.py
Labels: waiting for triage

update format
  qlib/workflow/record_temp.py
Labels: waiting for triage

remove to_csv twice
  qlib/data/storage/file_storage.py
Labels: waiting for triage

index should be int
  qlib/data/storage/file_storage.py
Labels: waiting for triage

should not get_recent_freq if folder is empty
  qlib/data/storage/file_storage.py
Labels: waiting for triage

fix index missing bug
  qlib/data/storage/file_storage.py
Labels: waiting for triage

change_url
  qlib/tests/data.py
Labels: waiting for triage

fix_CI
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix_CI_2
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix_CI_3
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Release codes of incremental learning and DoubleAdapt
  examples/benchmarks_dynamic/incremental/README.md
  examples/benchmarks_dynamic/incremental/benchmark.py
  examples/benchmarks_dynamic/incremental/main.py
  examples/benchmarks_dynamic/incremental/requirements.txt
  examples/benchmarks_dynamic/incremental/run.sh
  qlib/contrib/meta/__init__.py
  qlib/contrib/meta/incremental/__init__.py
  qlib/contrib/meta/incremental/dataset.py
  qlib/contrib/meta/incremental/higher_optim.py
  qlib/contrib/meta/incremental/model.py
  qlib/contrib/meta/incremental/net.py
  qlib/contrib/meta/incremental/utils.py
Labels: documentation, waiting for triage

fix_CI_4
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix_CI_5
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
