Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

use line width 120
  qlib/contrib/strategy/cost_control.py
Labels: waiting for triage

change_pytest_command_CI
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

change_pytest_command_CI
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Add exploration noise to rl training collector (#1481)
  qlib/rl/trainer/vessel.py
Labels: waiting for triage

fix_ci
  tests/test_pit.py
Labels: waiting for triage

fix_ci
  tests/test_pit.py
Labels: waiting for triage

fix_ci
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix_ci
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix_ci
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix_ci
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix_ci
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

remove_toml
  pyproject.toml
Labels: waiting for triage

recover_toml
  pyproject.toml
Labels: waiting for triage

Troubleshooting pip version issues in CI (#1504)
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  pyproject.toml
  tests/test_pit.py
Labels: waiting for triage

activate CI
  qlib/data/dataset/loader.py
Labels: waiting for triage

fix black;
  qlib/data/dataset/loader.py
Labels: waiting for triage

fix black;
  qlib/data/dataset/loader.py
Labels: waiting for triage

suppress the SettingWithCopyWarning of pandas (#1513)
  qlib/data/dataset/processor.py
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

1) add docstr for param; 2) fix grouping logic
  qlib/contrib/report/analysis_model/analysis_model_performance.py
Labels: waiting for triage

add_baostock_collector
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/baostock_5min/requirements.txt
Labels: documentation, waiting for triage

modify_comments
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/baostock_5min/collector.py
Labels: documentation, waiting for triage

Update and rename setup.py to setup_py.js
  setup_py.js
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

fix_pylint_error
  .github/workflows/test_qlib_from_source.yml
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/base.py
  scripts/data_collector/br_index/collector.py
  scripts/data_collector/cn_index/collector.py
  scripts/data_collector/crypto/collector.py
  scripts/data_collector/fund/collector.py
  scripts/data_collector/future_calendar_collector.py
  scripts/data_collector/us_index/collector.py
  scripts/data_collector/utils.py
  scripts/data_collector/yahoo/collector.py
  scripts/dump_bin.py
  scripts/dump_pit.py
Labels: waiting for triage

solve_duplication_methods
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/utils.py
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

Update requirements.txt (#1521)
  scripts/data_collector/br_index/requirements.txt
Labels: waiting for triage

fix the warning
  scripts/dump_bin.py
Labels: waiting for triage

modified the logic of update_data_to_bin
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

modified the logic of update_data_to_bin
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

fix duplicate log
  qlib/log.py
Labels: waiting for triage

optimize code
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/utils.py
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

Troubleshooting pip version issues in CI (#1504)
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  pyproject.toml
  tests/test_pit.py
Labels: waiting for triage

Update README.md for RL (#1573)
  README.md
Labels: documentation

Update __init__.py
  qlib/__init__.py
Labels: waiting for triage

Update introduction.rst (#1578)
  docs/introduction/introduction.rst
Labels: documentation

fix docs (#1618)
  docs/component/data.rst
Labels: documentation

Update release-drafter.yml (#1569)
  .github/release-drafter.yml
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
