Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

Minor
  qlib/rl/contrib/backtest_refine.py
  qlib/rl/contrib/naive_config_parser.py
Labels: waiting for triage

add openai interface support
  qlib/finco/cli.py
  qlib/finco/conf.py
  qlib/finco/llm.py
Labels: waiting for triage

first round
  qlib/finco/cli.py
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
Labels: waiting for triage

second commit
  qlib/finco/utils.py
Labels: waiting for triage

Fix CI
  qlib/contrib/model/pytorch_sandwich.py
Labels: waiting for triage

add qlib auto init so logger can display info
  qlib/finco/cli.py
  qlib/finco/task.py
Labels: waiting for triage

add parse method for summarization;
  qlib/finco/task.py
  qlib/finco/test_sumarize.py
Labels: waiting for triage

Fix CI (#1529)
  qlib/contrib/model/pytorch_sandwich.py
Labels: waiting for triage

remove tasktype variable
  qlib/finco/llm.py
  qlib/finco/task.py
Labels: waiting for triage

split task into workflow and task to make the strcture more clear
  qlib/finco/cli.py
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

add base method for summarization;
  qlib/finco/task.py
  qlib/finco/test_sumarize.py
Labels: waiting for triage

add base method for summarization; (#1530)
  qlib/finco/task.py
  qlib/finco/test_sumarize.py
Labels: waiting for triage

update v1 code containing SLplan and config action
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
Labels: waiting for triage

imporove some words in prompt
  qlib/finco/task.py
Labels: waiting for triage

1.update prompt; 2.update fetch information method.
  qlib/finco/task.py
  tests/finco/test_sumarize.py
Labels: waiting for triage

1.update prompt; 2.save result to markdown;
  qlib/finco/task.py
  tests/finco/test_sumarize.py
Labels: waiting for triage

add code implementation code
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

Add configurable dataset
  qlib/contrib/data/handler.py
  qlib/finco/tpl/README.md
  qlib/finco/tpl/__init__.py
  qlib/finco/tpl/sl-cfg/workflow_config_ds.yaml
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/finco/tpls/README.md
  qlib/finco/utils.py
  tests/finco/test_cfg.py
Labels: documentation, waiting for triage

update code
  .gitignore
  qlib/finco/.env.example
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/utils.py
Labels: waiting for triage

Update setup.py and config
  qlib/finco/conf.py
  scripts/finco/README.md
  setup.py
Labels: documentation, waiting for triage

Rename backtest file
  qlib/rl/contrib/backtest.py
Labels: waiting for triage

Add configurable dataset (#1535)
  qlib/contrib/data/handler.py
  qlib/finco/tpl/README.md
  qlib/finco/tpl/__init__.py
  qlib/finco/tpl/sl-cfg/workflow_config_ds.yaml
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/finco/tpls/README.md
  qlib/finco/utils.py
  tests/finco/test_cfg.py
Labels: documentation, waiting for triage

1.get context info from context_manager; 2.run the entire process successfully.
  qlib/finco/task.py
  qlib/finco/workflow.py
  tests/finco/test_sumarize.py
Labels: waiting for triage

Optimize summarize task prompt and others (#1533)
  qlib/finco/task.py
  qlib/finco/test_sumarize.py
  qlib/finco/workflow.py
  tests/finco/test_sumarize.py
Labels: waiting for triage

WIP
  qlib/contrib/data/handler.py
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/test_sumarize.py
  qlib/finco/tpl/__init__.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
  setup.py
Labels: waiting for triage

init_workspace and CMDTask
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

Delete test_sumarize.py
  qlib/finco/test_sumarize.py
Labels: waiting for triage

Init workspace and CMDTask (#1537)
  qlib/contrib/data/handler.py
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/tpl/__init__.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
  scripts/finco/README.md
  setup.py
Labels: documentation, waiting for triage

Edit yaml task
  qlib/finco/task.py
  qlib/finco/tpl/sl-cfg/workflow_config.yaml
  qlib/finco/workflow.py
  tests/finco/test_cfg.py
Labels: waiting for triage

update comments
  tests/finco/test_cfg.py
Labels: waiting for triage

Edit yaml task (#1538)
  qlib/finco/task.py
  qlib/finco/tpl/sl-cfg/workflow_config.yaml
  qlib/finco/workflow.py
  tests/finco/test_cfg.py
Labels: waiting for triage

move config file to benchmark_dynamic & switch default sim task model to GBDT
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  examples/benchmarks_dynamic/baseline/workflow_config_lightgbm_Alpha158.yaml
  examples/benchmarks_dynamic/baseline/workflow_config_linear_Alpha158.yaml
Labels: waiting for triage

Update benchmark_dynamic results
  examples/benchmarks_dynamic/README.md
Labels: documentation

Add async mode for potential use
  qlib/rl/utils/finite_env.py
Labels: waiting for triage

Change the default value of alpha of DDG-DA
  examples/benchmarks_dynamic/DDG-DA/workflow.py
Labels: waiting for triage

Update on Dynamic Benchmark (#1539)
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/README.md
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  examples/benchmarks_dynamic/baseline/workflow_config_lightgbm_Alpha158.yaml
  examples/benchmarks_dynamic/baseline/workflow_config_linear_Alpha158.yaml
Labels: documentation, waiting for triage

Slient backtest. Add .
  qlib/rl/contrib/backtest.py
  qlib/rl/order_execution/strategy.py
  qlib/rl/utils/profiling.py
Labels: waiting for triage

add recorder task
  qlib/finco/analysis.py
  qlib/finco/task.py
  qlib/finco/workflow.py
  qlib/workflow/record_temp.py
Labels: waiting for triage

add batch generate summarize report unittest.
  tests/finco/test_sumarize.py
Labels: waiting for triage

* add recorder to RecorderTask; * add matplot figure to analyzer.py
  qlib/contrib/analyzer.py
  qlib/finco/analysis.py
  qlib/finco/task.py
  qlib/finco/workflow.py
  qlib/workflow/record_temp.py
Labels: waiting for triage
