Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

docs: fix BaseDataHandler docstring grammar and formatting
  qlib/data/dataset/handler.py
Labels: waiting for triage

refactor: remove unused **kwargs from storage fetch methods
  qlib/data/dataset/storage.py
Labels: waiting for triage

docs: refine BaseDataHandler and DataHandler docstrings
  qlib/data/dataset/handler.py
Labels: waiting for triage

[fix] Improve datetime handling and update region in YahooNormalize class
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

refactor: rename BaseDataHandler to DataHandlerABC, update type hints
  qlib/data/dataset/handler.py
  qlib/data/dataset/storage.py
  qlib/model/trainer.py
Labels: waiting for triage

feat: add flt_col to TSDatasetH and list-to-slice conversion in storage
  qlib/data/dataset/__init__.py
  qlib/data/dataset/storage.py
Labels: waiting for triage

lint
  qlib/model/trainer.py
Labels: waiting for triage

comment
  qlib/data/dataset/__init__.py
Labels: waiting for triage

refactor: introduce BaseDataHandler and unify fetch interface (#1958)
  qlib/data/dataset/__init__.py
  qlib/data/dataset/handler.py
  qlib/data/dataset/storage.py
  qlib/model/trainer.py
Labels: waiting for triage

disable pylint error
  qlib/data/dataset/handler.py
Labels: waiting for triage

try fix build docs error
  pyproject.toml
Labels: waiting for triage

try fix build docs error
  pyproject.toml
Labels: waiting for triage

optimize code
  pyproject.toml
Labels: waiting for triage

disable pylint error (#1960)
  pyproject.toml
  qlib/data/dataset/handler.py
Labels: waiting for triage

feat: use pydantic-settings for MLflow config and update dependencies
  pyproject.toml
  qlib/config.py
  qlib/workflow/__init__.py
Labels: waiting for triage

docs
  qlib/config.py
Labels: waiting for triage

feat: use pydantic-settings for MLflow config and update dependencies (#1962)
  pyproject.toml
  qlib/config.py
  qlib/workflow/__init__.py
Labels: waiting for triage

refactor: relocate CLI modules to qlib.cli and update references
  README.md
  pyproject.toml
  qlib/backtest/exchange.py
  qlib/cli/__init__.py
  qlib/cli/data.py
  qlib/cli/run.py
Labels: documentation, waiting for triage

refactor: introduce read_as_df and rename csv_path to data_path
  docs/component/data.rst
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/crypto/README.md
  scripts/data_collector/fund/README.md
  scripts/data_collector/pit/README.md
  scripts/data_collector/yahoo/README.md
  scripts/data_collector/yahoo/collector.py
  scripts/dump_bin.py
Labels: documentation, waiting for triage

lint
  scripts/dump_bin.py
Labels: waiting for triage

refactor: rename csv_path to data_path and use QSettings.provider_uri
  qlib/config.py
  scripts/dump_bin.py
  tests/test_dump_data.py
Labels: waiting for triage

创建了我的第一个笔记文件
  .DS_Store
  my-notes.txt
Labels: waiting for triage

第二次修改
  my-notes.txt
Labels: waiting for triage

在 feature 分支添加分析笔记
  .DS_Store
  my-notes.txt
Labels: waiting for triage

在 feature 分支添加分析笔记
  my-notes.txt
Labels: waiting for triage

handle yahoo US collecotr api limit issue (Fix #1953)
  scripts/data_collector/utils.py
Labels: waiting for triage

fix pylint error
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

fix get_data command
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  README.md
  docs/component/workflow.rst
  docs/developer/how_to_build_image.rst
  examples/rl_order_execution/README.md
  qlib/cli/run.py
Labels: documentation, waiting for triage

add comments to CI yaml
  .github/workflows/test_qlib_from_pip.yml
  examples/rl_order_execution/README.md
Labels: documentation, waiting for triage

Add REGION: HK
  qlib/config.py
  qlib/constant.py
Labels: waiting for triage

fix the bug that the US STMBOLS URL is faild
  scripts/data_collector/utils.py
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

recover code
  pyproject.toml
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

fix package dependence error
  pyproject.toml
Labels: waiting for triage

fix package dependence error
  pyproject.toml
Labels: waiting for triage

part01
  .commitlintrc.js
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/lint_title.yml
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  CHANGELOG.md
  Makefile
  pyproject.toml
  qlib/__init__.py
Labels: documentation, waiting for triage

part02
  .github/workflows/python-publish.yml
Labels: waiting for triage

update docs
  docs/component/data.rst
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/yahoo/README.md
Labels: documentation

feat: data improve, support parquet (#1966)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  README.md
  docs/component/data.rst
  docs/component/workflow.rst
  docs/developer/how_to_build_image.rst
  examples/rl_order_execution/README.md
  pyproject.toml
  qlib/backtest/exchange.py
  qlib/cli/__init__.py
  qlib/cli/data.py
  qlib/cli/run.py
  qlib/config.py
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/crypto/README.md
  scripts/data_collector/fund/README.md
  scripts/data_collector/pit/README.md
  scripts/data_collector/yahoo/README.md
  scripts/data_collector/yahoo/collector.py
  scripts/dump_bin.py
  tests/test_dump_data.py
Labels: documentation, waiting for triage

feat: auto_release1 (#1)
  .commitlintrc.js
  .github/workflows/lint_title.yml
  .github/workflows/python-publish.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  CHANGELOG.md
  pyproject.toml
Labels: documentation, waiting for triage

test check status in release.yml (#3)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
  Makefile
  qlib/__init__.py
Labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
