Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

Fixed pyqlib version issue on macos (#1605)
  .github/workflows/python-publish.yml
Labels: waiting for triage

fix download token (#1577)
  qlib/tests/data.py
Labels: waiting for triage

change get_data url (#1558)
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  docs/component/data.rst
  qlib/tests/data.py
  setup.py
  tests/test_dump_data.py
  tests/test_get_data.py
Labels: documentation, waiting for triage

Update requirements.txt (#1521)
  scripts/data_collector/br_index/requirements.txt
Labels: waiting for triage

Update README.md (#1553)
  README.md
Labels: documentation

Postpone PR stale. (#1591)
  .github/workflows/stale.yml
Labels: waiting for triage

Bump Version & Fix CI (#1606)
  .github/workflows/test_qlib_from_pip.yml
  qlib/__init__.py
Labels: waiting for triage

fix_pip_ci (#1584)
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

Update __init__.py
  qlib/__init__.py
Labels: waiting for triage

suppress the SettingWithCopyWarning of pandas (#1513)
  qlib/data/dataset/processor.py
Labels: waiting for triage

Add multi pass portfolio analysis record (#1546)
  examples/benchmarks/Linear/workflow_config_linear_Alpha158_multi_pass_bt.yaml
  qlib/workflow/record_temp.py
Labels: waiting for triage

Update __init__.py
  qlib/__init__.py
Labels: waiting for triage

depress warning with pandas option_context (#1524)
  README.md
  examples/benchmarks/README.md
Labels: documentation

fix_ci (#1608)
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

Add exploration noise to rl training collector (#1481)
  qlib/rl/trainer/vessel.py
Labels: waiting for triage

Update introduction.rst (#1579)
  docs/introduction/introduction.rst
Labels: documentation

Update qlibrl docs. (#1588)
  docs/component/rl/guidance.rst
  docs/component/rl/overall.rst
  docs/component/rl/toctree.rst
Labels: documentation

add pos and neg operator
  qlib/data/base.py
Labels: waiting for triage

pred current is confusing
  qlib/contrib/strategy/cost_control.py
Labels: waiting for triage

add build system requirements
  pyproject.toml
Labels: waiting for triage

fix stock is delisted
  qlib/backtest/exchange.py
Labels: waiting for triage

optimize pylint issue
  .github/workflows/test_qlib_from_source.yml
  scripts/data_collector/crypto/collector.py
  scripts/data_collector/fund/collector.py
Labels: waiting for triage

fixamount
  qlib/backtest/position.py
Labels: waiting for triage

Update quick.rst
  docs/introduction/quick.rst
Labels: documentation

add index cache; add compustat collector
  qlib/data/cache.py
  scripts/data_collector/compustat/collector.py
Labels: waiting for triage

fix pylint error
  .github/workflows/test_qlib_from_source.yml
  setup.py
Labels: waiting for triage

improve pit performance
  .gitignore
  qlib/data/base.py
  qlib/data/cache.py
  qlib/data/data.py
  qlib/data/pit.py
  qlib/utils/__init__.py
Labels: waiting for triage

improve pit cache
  qlib/data/data.py
  qlib/utils/__init__.py
Labels: waiting for triage

lint
  qlib/data/data.py
  qlib/utils/__init__.py
Labels: waiting for triage

deal with empty data
  qlib/data/data.py
  qlib/data/pit.py
Labels: waiting for triage

Update quick.rst (#1667)
  docs/introduction/quick.rst
Labels: documentation

Bug fix for the WMA operator
  qlib/data/ops.py
Labels: waiting for triage

Assign the self.instruments in SBBStrategyEMA.
  qlib/contrib/strategy/rule_strategy.py
Labels: waiting for triage

Fix the empty price_s case.
  qlib/backtest/report.py
Labels: waiting for triage

Fix the empty price_s case and self.instruments in SBBStrategyEMA.
  qlib/backtest/report.py
  qlib/contrib/strategy/rule_strategy.py
Labels: waiting for triage

Update data.rst
  docs/component/data.rst
Labels: documentation

Update code_standard_and_dev_guide.rst
  docs/developer/code_standard_and_dev_guide.rst
Labels: documentation

changes suggested by the review
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/utils.py
  scripts/data_collector/yahoo/collector.py
Labels: documentation, waiting for triage

fix CI faild
  scripts/data_collector/utils.py
  setup.py
Labels: waiting for triage

fix CI faild
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
