Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

Update qlib/data/dataset/processor.py
  qlib/data/dataset/processor.py
Labels: waiting for triage

typo
  qlib/data/dataset/processor.py
Labels: waiting for triage

provide dtype to empty series to surpress warning; fix type
  qlib/data/data.py
Labels: waiting for triage

fix: removed extra blank link between sections
  .gitignore
Labels: waiting for triage

Fix time filter bug
  qlib/data/dataset/processor.py
Labels: waiting for triage

Add Filter and set Universe
  examples/rl_order_execution/scripts/pickle_data_config.yml
  qlib/contrib/data/highfreq_handler.py
Labels: waiting for triage

Complete data pipeline
  examples/rl_order_execution/README.md
  examples/rl_order_execution/scripts/pickle_data_config.yml
Labels: documentation, waiting for triage

Fix Provider Logger Info Args
  qlib/contrib/data/highfreq_provider.py
Labels: waiting for triage

Add DQN; a minor bugfix in ppo reward.
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
  qlib/rl/order_execution/policy.py
  qlib/rl/order_execution/reward.py
Labels: waiting for triage

add_docs
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/baostock_5min/requirements.txt
Labels: documentation, waiting for triage

Fix Field Name Error
  qlib/contrib/data/highfreq_handler.py
Labels: waiting for triage

Fix configuration example
  docs/component/rl/quickstart.rst
Labels: documentation

Fixed configurations
  examples/rl/experiment_config/backtest/config.yml
  examples/rl/experiment_config/training/config.yml
Labels: waiting for triage

Fixes tianshou error AttributeError: 'dict' object has no attribute 'info'
  examples/rl/simple_example.ipynb
  qlib/rl/order_execution/strategy.py
Labels: waiting for triage

modify_doc
  scripts/data_collector/baostock_5min/README.md
Labels: documentation

update readme. modify assertion logic in strategy check.
  examples/rl_order_execution/README.md
  qlib/rl/order_execution/strategy.py
Labels: documentation, waiting for triage

Fix Doc issues and fix black
  examples/rl_order_execution/README.md
  qlib/rl/order_execution/policy.py
  qlib/rl/order_execution/reward.py
Labels: documentation, waiting for triage

Fix pylint Error
  qlib/rl/order_execution/strategy.py
Labels: waiting for triage

Order execution open source (#1447)
  .gitignore
  examples/benchmarks/LightGBM/multi_freq_handler.py
  examples/benchmarks/LightGBM/workflow_config_lightgbm_Alpha158_multi_freq.yaml
  examples/benchmarks/LightGBM/workflow_config_lightgbm_multi_freq.yaml
  examples/rl_order_execution/README.md
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
  examples/rl_order_execution/scripts/collect_pickle_dataframe.py
  examples/rl_order_execution/scripts/gen_pickle_data.py
  examples/rl_order_execution/scripts/gen_training_orders.py
  examples/rl_order_execution/scripts/merge_orders.py
  examples/rl_order_execution/scripts/pickle_data_config.yml
  qlib/contrib/data/handler.py
  qlib/contrib/data/highfreq_handler.py
  qlib/contrib/data/highfreq_provider.py
  qlib/data/dataset/loader.py
  qlib/data/dataset/processor.py
  qlib/rl/contrib/backtest.py
  qlib/rl/order_execution/policy.py
  qlib/rl/order_execution/reward.py
  qlib/rl/order_execution/strategy.py
Labels: documentation, waiting for triage

OPD entry
  qlib/rl/contrib/train_opdt.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/interpreter.py
  qlib/rl/order_execution/policy.py
Labels: waiting for triage

fix_pylint_w0719
  .github/workflows/test_qlib_from_source.yml
  qlib/utils/__init__.py
  qlib/workflow/exp.py
  qlib/workflow/expm.py
  qlib/workflow/recorder.py
Labels: waiting for triage

Remove
  examples/rl/README.md
  examples/rl/experiment_config/backtest/config.yml
  examples/rl/experiment_config/training/config.yml
  examples/rl/scripts/collect_pickle_dataframe.py
  examples/rl/scripts/data_pipeline.sh
  examples/rl/scripts/gen_backtest_orders.py
  examples/rl/scripts/gen_pickle_data.py
  examples/rl/scripts/gen_training_orders.py
  examples/rl/scripts/pickle_data_config.yml
Labels: documentation, waiting for triage

Remove (#1464)
  examples/rl/README.md
  examples/rl/experiment_config/backtest/config.yml
  examples/rl/experiment_config/training/config.yml
  examples/rl/scripts/collect_pickle_dataframe.py
  examples/rl/scripts/data_pipeline.sh
  examples/rl/scripts/gen_backtest_orders.py
  examples/rl/scripts/gen_pickle_data.py
  examples/rl/scripts/gen_training_orders.py
  examples/rl/scripts/pickle_data_config.yml
Labels: documentation, waiting for triage

Improve annotation & documentation for handler (#1312)
  qlib/data/dataset/handler.py
Labels: waiting for triage

fix_docs_build_error
  docs/_static/img/Task-Gen-Recorder-Collector.png
  docs/_static/img/Task-Gen-Recorder-Collector.svg
  docs/_static/img/framework.svg
  docs/_static/img/framework_all.png
  docs/advanced/task_management.rst
  docs/component/highfreq.rst
  docs/introduction/introduction.rst
Labels: documentation

Remove lr_decay and lr_decay_steps params
  qlib/contrib/model/pytorch_nn.py
Labels: waiting for triage

remove lr_decay and lr_decay_steps from mlp workflow configs
  examples/benchmarks/MLP/workflow_config_mlp_Alpha158.yaml
  examples/benchmarks/MLP/workflow_config_mlp_Alpha158_csi500.yaml
  examples/benchmarks/MLP/workflow_config_mlp_Alpha360.yaml
  examples/benchmarks/MLP/workflow_config_mlp_Alpha360_csi500.yaml
Labels: waiting for triage

remove_fixme
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

fix_pylint_w0719 (#1463)
  .github/workflows/test_qlib_from_source.yml
  qlib/utils/__init__.py
  qlib/workflow/exp.py
  qlib/workflow/expm.py
  qlib/workflow/recorder.py
Labels: waiting for triage

Run ddg-da successfully
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/utils.py
Labels: waiting for triage

Support include valid; More parameters
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/model/linear.py
  qlib/utils/__init__.py
  qlib/utils/data.py
Labels: waiting for triage

Update utils.py
  qlib/backtest/utils.py
Labels: waiting for triage

Update utils.py
  qlib/backtest/utils.py
Labels: waiting for triage

Update utils.py
  qlib/backtest/utils.py
Labels: waiting for triage

Support L2 reg & visualization
  examples/benchmarks_dynamic/DDG-DA/vis_data.py
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/meta/data_selection/net.py
Labels: waiting for triage

Blackformat
  examples/benchmarks_dynamic/DDG-DA/vis_data.py
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/meta/data_selection/net.py
  qlib/contrib/meta/data_selection/utils.py
  qlib/contrib/model/linear.py
  qlib/utils/data.py
Labels: waiting for triage

GCN
  examples/benchmarks/GATs/README.md
  examples/benchmarks/GATs/workflow_config_gats_indus_Alpha158.yaml
  examples/benchmarks/GATs/workflow_config_gats_indus_Alpha360.yaml
  examples/benchmarks/GATs_ADD_IND/requirements.txt
  examples/benchmarks/GATs_ADD_IND/workflow_config_gats_Alpha158.yaml
  examples/benchmarks/GATs_ADD_IND/workflow_config_gats_Alpha360.yaml
  examples/benchmarks/GCN/README.md
  examples/benchmarks/GCN/requirements.txt
  examples/benchmarks/GCN/workflow_config_gcn_Alpha158.yaml
  examples/benchmarks/GCN/workflow_config_gcn_Alpha360.yaml
  examples/benchmarks/PatchTST/workflow_config_transformer_Alpha158.yaml
  examples/benchmarks/PatchTST/workflow_config_transformer_Alpha360.yaml
  examples/run_all_model.py
  qlib/contrib/model/__init__.py
  qlib/contrib/model/pytorch_gats_add_ind.py
  qlib/contrib/model/pytorch_gats_add_ind_ts.py
  qlib/contrib/model/pytorch_gcn.py
  qlib/contrib/model/pytorch_gcn_ts.py
Labels: documentation, waiting for triage

revert change
  examples/run_all_model.py
Labels: waiting for triage

revert patchtst
  examples/benchmarks/PatchTST/workflow_config_transformer_Alpha158.yaml
  examples/benchmarks/PatchTST/workflow_config_transformer_Alpha360.yaml
Labels: waiting for triage

patchtst
  examples/benchmarks/PatchTST/README.md
  examples/benchmarks/PatchTST/requirements.txt
  qlib/contrib/model/pytorch_patchtst.py
Labels: documentation, waiting for triage
