Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

Update dump_pit.py (#1759)
  scripts/dump_pit.py
Labels: waiting for triage

fix bug
  scripts/data_collector/utils.py
Labels: waiting for triage

data_collector: cn_index: fix missing dependencies package in requirements.txt (#1770)
  scripts/data_collector/cn_index/requirements.txt
Labels: waiting for triage

Delete redundant copy() code to speed up (#1732)
  qlib/data/data.py
Labels: waiting for triage

fix docs (#1721)
  .readthedocs.yaml
Labels: waiting for triage

fix docs
  docs/requirements.txt
Labels: documentation

fix docs (#1788)
  docs/requirements.txt
Labels: documentation

Update README.md's dataset
  README.md
Labels: documentation

Update pytorch_alstm_ts.py
  qlib/contrib/model/pytorch_alstm_ts.py
Labels: waiting for triage

Update pytorch_alstm.py
  qlib/contrib/model/pytorch_alstm.py
Labels: waiting for triage

fix get data error
  examples/orderbook_data/README.md
  qlib/tests/data.py
Labels: documentation, waiting for triage

fix get v0 data error
  qlib/tests/data.py
Labels: waiting for triage

optimize get_data code
  qlib/tests/data.py
Labels: waiting for triage

fix pylint error
  qlib/tests/data.py
Labels: waiting for triage

add comments
  qlib/tests/data.py
Labels: waiting for triage

fix get data error (#1793)
  examples/orderbook_data/README.md
  qlib/tests/data.py
Labels: documentation, waiting for triage

update version
  qlib/__init__.py
Labels: waiting for triage

bump verison
  qlib/__init__.py
Labels: waiting for triage

changed concat of strings to f-strings and redundant type conversion was removed (#1767)
  qlib/data/client.py
Labels: waiting for triage

format with black
  scripts/data_collector/pit/collector.py
  scripts/data_collector/utils.py
Labels: waiting for triage

fix pylint error
  scripts/data_collector/utils.py
Labels: waiting for triage

change error code
  qlib/workflow/cli.py
Labels: waiting for triage

Update Dev in README.md
  README.md
Labels: documentation

Update Dev in README.md (#1800)
  README.md
Labels: documentation

change error code
  scripts/data_collector/pit/collector.py
Labels: waiting for triage

fix ci error
  setup.py
Labels: waiting for triage

fix ci error
  .github/workflows/test_qlib_from_pip.yml
Labels: waiting for triage

optimize code
  scripts/data_collector/utils.py
Labels: waiting for triage

optimize code
  scripts/data_collector/utils.py
Labels: waiting for triage

optimize code
  scripts/data_collector/base.py
Labels: waiting for triage

add comments
  scripts/data_collector/utils.py
Labels: waiting for triage

fix the bug that the HS_SYMBOLS_URL is 404 (#1758)
  .github/workflows/test_qlib_from_pip.yml
  scripts/data_collector/utils.py
  setup.py
Labels: waiting for triage

Update utils.py for typo (#1751)
  qlib/data/dataset/utils.py
Labels: waiting for triage

fix panic during normalizing the invalid data (#1698)
  scripts/data_collector/base.py
Labels: waiting for triage

Fix TSDataSampler Slicing Bug #1716
  qlib/data/dataset/__init__.py
  tests/data_mid_layer_tests/test_dataset.py
Labels: waiting for triage

Fix TSDataSampler Slicing Bug #1716
  qlib/data/dataset/__init__.py
  tests/data_mid_layer_tests/test_dataset.py
Labels: waiting for triage

Fix TSDataSampler Slicing Bug #1716
  qlib/data/dataset/__init__.py
Labels: waiting for triage

fix logo display error
  README.md
Labels: documentation

fix logo display error (#1804)
  README.md
Labels: documentation

optimize code
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage
