Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

fix black error
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

add instruments
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

remove code
  qlib/data/dataset/processor.py
Labels: waiting for triage

fix fillna bug (#1914)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  pyproject.toml
  qlib/contrib/model/pytorch_nn.py
  qlib/data/dataset/processor.py
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage

reformat with black
  scripts/data_collector/utils.py
Labels: waiting for triage

Fix issue 1892 (#1916)
  scripts/data_collector/utils.py
Labels: waiting for triage

fixed a problem with multi index caused by the default value of groupkey
  qlib/utils/paral.py
Labels: waiting for triage

fix bugs in the documentation
  docs/component/workflow.rst
Labels: documentation

fix docs error
  scripts/data_collector/yahoo/README.md
Labels: documentation

fix bugs in the documentation (#1918)
  docs/component/workflow.rst
  scripts/data_collector/yahoo/README.md
Labels: documentation

Implement geometric accumulation mode for risk_analysis function (#964)
  qlib/contrib/evaluate.py
Labels: waiting for triage

fix ci error
  .github/workflows/test_qlib_from_pip.yml
  qlib/utils/paral.py
Labels: waiting for triage

fix ci error
  qlib/utils/paral.py
Labels: waiting for triage

add comments
  .github/workflows/test_qlib_from_pip.yml
  qlib/utils/paral.py
Labels: waiting for triage

add comments
  qlib/utils/paral.py
Labels: waiting for triage

fix ci error (#1921)
  .github/workflows/test_qlib_from_pip.yml
  qlib/utils/paral.py
Labels: waiting for triage

[fix] keep group_keys=False in Average Ensemble
  qlib/model/ens/ensemble.py
Labels: waiting for triage

[fix] keep group_keys=False in Average Ensemble (#1913)
  qlib/model/ens/ensemble.py
Labels: waiting for triage

limit pandas verion
  pyproject.toml
Labels: waiting for triage

format with black
  examples/benchmarks/TFT/tft.py
  qlib/backtest/report.py
  qlib/contrib/data/processor.py
  qlib/contrib/eva/alpha.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/model/pytorch_adarnn.py
  qlib/contrib/model/pytorch_gats_ts.py
  qlib/contrib/report/analysis_model/analysis_model_performance.py
  qlib/contrib/report/analysis_position/risk_analysis.py
  qlib/contrib/report/analysis_position/score_ic.py
Labels: waiting for triage

fix docs error
  pyproject.toml
Labels: waiting for triage

fix docs error
  pyproject.toml
Labels: waiting for triage

[Fix]Update data preparation part in README.md
  README.md
Labels: documentation

fixed bugs caused by pandas upgrade
  examples/highfreq/highfreq_ops.py
  qlib/contrib/eva/alpha.py
  qlib/contrib/model/double_ensemble.py
  qlib/contrib/model/highfreq_gdbt_model.py
  qlib/workflow/cli.py
Labels: waiting for triage

remove needless code
  qlib/workflow/cli.py
Labels: waiting for triage

reformat with black
  qlib/contrib/model/highfreq_gdbt_model.py
Labels: waiting for triage

limit version & add docs
  README.md
  pyproject.toml
Labels: documentation, waiting for triage

[Fix]Update data preparation part in README.md (#1924)
  README.md
Labels: documentation

comply with the code style guidelines. Specifically, I had used double quotes "notebook" for the string, whereas the required format was single quotes 'notebook'. This has now been corrected.
  examples/tutorial/detailed_workflow.ipynb
Labels: waiting for triage

update qlib general_nn for rdagent_qlib
  qlib/contrib/model/pytorch_general_nn.py
Labels: waiting for triage

I didn't use nbqa black to reformat my code. Now is done!
  examples/tutorial/detailed_workflow.ipynb
Labels: waiting for triage

fix install lightgbm error
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix install lightgbm error & format with black
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  qlib/contrib/model/pytorch_general_nn.py
Labels: waiting for triage

[feat] fix a bug and adapt general_nn for use with rdagent_qlib (#1928)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  qlib/contrib/model/pytorch_general_nn.py
Labels: waiting for triage

recover_code
  examples/tutorial/detailed_workflow.ipynb
Labels: waiting for triage

The plotly figure is empty in the code block "Basic data" (#1902)
  examples/tutorial/detailed_workflow.ipynb
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

doc: update README.md (#1929)
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
