Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

update ubuntu CI version; (#1488)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix: refine code
  qlib/contrib/model/pytorch_gats_add_ind_ts.py
Labels: waiting for triage

Update README.md
  examples/benchmarks/KRNN/README.md
Labels: documentation

Update README.md
  examples/benchmarks/Sandwich/README.md
Labels: documentation

Update requirements.txt
  examples/benchmarks/Sandwich/requirements.txt
Labels: waiting for triage

Update requirements.txt
  examples/benchmarks/KRNN/requirements.txt
Labels: waiting for triage

Update README.md
  examples/benchmarks/README.md
Labels: documentation

Update README.md
  examples/benchmarks/README.md
Labels: documentation

Add TODO in example
  examples/rl_order_execution/README.md
Labels: documentation

Add TODO in example
  examples/rl_order_execution/README.md
Labels: documentation

update ubuntu CI version; (#1)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

normpath for windows or it maybe cant find th e path;
  qlib/utils/__init__.py
Labels: waiting for triage

path on Windows contains double '/' which may cause open file failed.
  qlib/utils/__init__.py
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

locate import numpy error
  setup.py
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
  setup.py
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

implemented alstm_ext
  .gitignore
  examples/benchmarks/ALSTMEXT/workflow_config_configurable_dataset.yaml
  examples/benchmarks/ALSTMEXT/workflow_config_configurable_dataset_new.yaml
  examples/run_all_model.py
  qlib/contrib/model/pytorch_alstmext_ts.py
Labels: waiting for triage

loss logging implemented
  examples/benchmarks/ALSTM/workflow_config_configurable_dataset_new.yaml
  examples/benchmarks/GATs/workflow_config_configurable_dataset_new.yaml
  qlib/contrib/model/pytorch_alstm_ts.py
  qlib/contrib/model/pytorch_gats_ts.py
  qlib/log.py
Labels: waiting for triage

Remove test df, not used
  qlib/contrib/model/pytorch_alstm.py
Labels: waiting for triage

Implemented exp codes for Top50 bce loss exp
  examples/benchmarks/GATs/workflow_config_GATs_top50_bce.yaml
  qlib/contrib/model/pytorch_gats_ts.py
  qlib/data/dataset/processor.py
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

add baseConfig in yml,user can add new keys or update/drop keys in baseConfig;
  qlib/workflow/cli.py
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

locate import numpy error
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

pip release version 23.1 on Apr.15 2023, CI failed to run, Please refer to #1495 ofr detailed logs. The pip version has been temporarily fixed to 23.0.1.
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

normpath for Windows (#1495)
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  qlib/utils/__init__.py
Labels: waiting for triage

Refine Qlib RL data format (#1480)
  examples/rl_order_execution/README.md
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
  examples/rl_order_execution/scripts/collect_pickle_dataframe.py
  examples/rl_order_execution/scripts/gen_training_orders.py
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/integration.py
  qlib/rl/data/native.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/simulator_qlib.py
  qlib/rl/order_execution/simulator_simple.py
  qlib/rl/order_execution/utils.py
  tests/rl/test_saoe_simple.py
Labels: documentation, waiting for triage

Specify the tianshou version to match the dev environment to avoid the error in issue #1477.
  setup.py
Labels: waiting for triage

CI failed to run on 23.1 and 23.1.1
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage
