Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

remove blank
  tests/misc/test_utils.py
Labels: waiting for triage

Add base config in yml (#1500)
  qlib/workflow/cli.py
Labels: waiting for triage

Fix lint
  qlib/contrib/data/dataset.py
Labels: waiting for triage

Update tests
  qlib/contrib/data/dataset.py
  qlib/utils/data.py
  tests/misc/test_utils.py
Labels: waiting for triage

added last revisions
  examples/benchmarks/ALSTM/workflow_config_configurable_dataset_df.yaml
  examples/benchmarks/GATs/workflow_config_GATs_pre.yaml
  examples/benchmarks/GATs/workflow_config_GATs_precise_margin_ranking.yaml
  examples/benchmarks/GATs/workflow_config_GATs_precise_margin_ranking_cubic.yaml
  examples/benchmarks/GATs/workflow_config_GATs_precise_margin_ranking_etf.yaml
  examples/benchmarks/GATs/workflow_config_configurable_dataset_gats_alstm.yaml
  qlib/contrib/data/handler.py
  qlib/contrib/model/pytorch_gats_ts_alstm.py
  qlib/contrib/model/pytorch_gats_ts_alstm_loss.py
  qlib/contrib/model/pytorch_gats_ts_alstm_loss_pre.py
  qlib/contrib/model/pytorch_gats_ts_df.py
  scripts/backtest_custom.py
  scripts/compute_sharpe_sortino.py
  scripts/gats_df.py
Labels: waiting for triage

Minor bugfix
  qlib/rl/contrib/backtest.py
Labels: waiting for triage

black
  qlib/rl/contrib/train_onpolicy.py
Labels: waiting for triage

df value is set as expected, suppress the warning;
  qlib/data/dataset/processor.py
Labels: waiting for triage

Resolve RL FIXMES (#1503)
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train_onpolicy.py
Labels: waiting for triage

added latest changes to models
  examples/benchmarks/GATs/workflow_config_GATs_precise_margin_ranking_etf.yaml
  examples/benchmarks/GATs/workflow_config_GATs_precise_margin_ranking_paper.yaml
  examples/benchmarks/GATs/workflow_config_GATs_precise_margin_ranking_zscore.yaml
  qlib/contrib/model/pytorch_gats_ts.py
  scripts/compute_sharpe_sortino.py
Labels: waiting for triage

Remove redundant check
  qlib/contrib/data/dataset.py
  tests/misc/test_utils.py
Labels: waiting for triage

1.specify group_keys=False to avoid FutureWarning; 2.fix get train_start from dict unexpected problem;
  examples/benchmarks_dynamic/DDG-DA/workflow.py
Labels: waiting for triage

fix black
  examples/benchmarks_dynamic/DDG-DA/workflow.py
Labels: waiting for triage

Fix FutureWarning: Passing unit-less datetime64 dtype to .astype is deprecated and will raise in a future version. Pass 'datetime64[ns]' instead
  scripts/dump_bin.py
Labels: waiting for triage

Update README.md
  README.md
Labels: documentation

Update pytorch_sandwich.py
  qlib/contrib/model/pytorch_sandwich.py
Labels: waiting for triage

Update pytorch_sandwich.py
  qlib/contrib/model/pytorch_sandwich.py
Labels: waiting for triage

align index format while end date contains current day data
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

fix black
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

fix black
  scripts/data_collector/yahoo/collector.py
Labels: waiting for triage

Update requirements.txt
  scripts/data_collector/br_index/requirements.txt
Labels: waiting for triage

transpose dimension 1 and 2 to match nn.Conv1d input
  qlib/contrib/model/pytorch_tcn_ts.py
Labels: waiting for triage

Train on full simulation
  qlib/backtest/backtest.py
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train.py
  qlib/rl/contrib/train_onpolicy_full_simulation.py
  qlib/rl/data/native.py
  qlib/rl/order_execution/simulator_qlib.py
  qlib/rl/order_execution/simulator_simple.py
  qlib/rl/trainer/trainer.py
  qlib/rl/utils/profiling.py
Labels: waiting for triage

Black
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train.py
  qlib/rl/contrib/train_onpolicy_full_simulation.py
  qlib/rl/data/native.py
  qlib/rl/utils/profiling.py
Labels: waiting for triage

Initial interface for discussion
  qlib/finco/__init__.py
  qlib/finco/cli.py
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/tpls/README.md
  qlib/finco/tpls/sl/workflow_config.yaml
  scripts/finco/README.md
  scripts/finco/cmd.sh
  scripts/finco/cridential.sh.example
Labels: documentation, waiting for triage

Add comments
  examples/benchmarks_dynamic/DDG-DA/workflow.py
Labels: waiting for triage

Add make file
  examples/benchmarks_dynamic/DDG-DA/Makefile
Labels: waiting for triage

fix_DDG-DA_workflow_bug (#1516)
  examples/benchmarks_dynamic/DDG-DA/Makefile
  examples/benchmarks_dynamic/DDG-DA/workflow.py
Labels: waiting for triage

Test passed
  qlib/rl/contrib/train.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/simulator_simple.py
  qlib/rl/trainer/api.py
  qlib/rl/trainer/trainer.py
  qlib/rl/trainer/vessel.py
  qlib/rl/utils/finite_env.py
Labels: waiting for triage

CI
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/train.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/contrib/train_onpolicy_full_simulation.py
  qlib/rl/data/native.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/trainer/api.py
  qlib/rl/trainer/trainer.py
  qlib/rl/trainer/vessel.py
  qlib/rl/utils/finite_env.py
  qlib/rl/utils/profiling.py
Labels: waiting for triage

1.update TCN benchmarks; 2.Emphasize updating the benchmark table;
  examples/benchmarks/README.md
Labels: documentation

replace specific version with main
  examples/benchmarks/README.md
Labels: documentation

Fix TCN model input dimension mismatch (#1520)
  examples/benchmarks/README.md
  qlib/contrib/model/pytorch_tcn_ts.py
Labels: documentation, waiting for triage

depress warning with pandas option_context
  qlib/data/dataset/processor.py
Labels: waiting for triage

depress warning with pandas option_context
  README.md
  examples/benchmarks/README.md
Labels: documentation

Update link on index
  README.md
Labels: documentation

added KRNN and Sandwich models and their example results based on Alpha360 (#1414)
  README.md
  examples/benchmarks/KRNN/README.md
  examples/benchmarks/KRNN/requirements.txt
  examples/benchmarks/KRNN/workflow_config_krnn_Alpha360.yaml
  examples/benchmarks/README.md
  examples/benchmarks/Sandwich/README.md
  examples/benchmarks/Sandwich/requirements.txt
  examples/benchmarks/Sandwich/workflow_config_sandwich_Alpha360.yaml
  qlib/contrib/model/pytorch_krnn.py
  qlib/contrib/model/pytorch_sandwich.py
Labels: documentation, waiting for triage

Cache exchange
  qlib/backtest/__init__.py
  qlib/rl/contrib/train.py
  qlib/rl/order_execution/simulator_qlib.py
  qlib/rl/utils/profiling.py
Labels: waiting for triage

Update docs for QlibRL.
  docs/component/rl/guidance.rst
  docs/component/rl/overall.rst
  docs/component/rl/toctree.rst
Labels: documentation

Refine backtest scripts
  qlib/backtest/exchange.py
  qlib/rl/contrib/backtest_refine.py
  qlib/rl/contrib/naive_config_parser.py
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
