Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']

format with pylint
  scripts/check_data_health.py
Labels: waiting for triage

DRAFT add Data Health Checker (#1574)
  README.md
  docs/component/data.rst
  scripts/check_data_health.py
Labels: documentation, waiting for triage

polish
  qlib/utils/resam.py
Labels: waiting for triage

fix the bug that the HS STMBOLS URL is faild
  scripts/data_collector/utils.py
Labels: waiting for triage

format with black
  scripts/data_collector/utils.py
Labels: waiting for triage

fix pytest error
  pyproject.toml
Labels: waiting for triage

format with black
  examples/data_demo/data_cache_demo.py
  examples/data_demo/data_mem_resuse_demo.py
  examples/orderbook_data/create_dataset.py
  examples/workflow_by_code.py
  qlib/contrib/torch.py
Labels: waiting for triage

fix issue 1887
  scripts/data_collector/yahoo/README.md
Labels: documentation

fixed pytest error in CI
  qlib/rl/trainer/trainer.py
  tests/rl/test_trainer.py
Labels: waiting for triage

fix pkl file not loading in StaticDataLoader
  examples/data_demo/data_cache_demo.py
  examples/data_demo/data_mem_resuse_demo.py
  examples/orderbook_data/create_dataset.py
  examples/workflow_by_code.py
  qlib/contrib/torch.py
  qlib/data/dataset/loader.py
  qlib/rl/trainer/trainer.py
  tests/rl/test_trainer.py
Labels: waiting for triage

resolve hard code
  pyproject.toml
  qlib/data/dataset/loader.py
Labels: waiting for triage

resolve hard code
  qlib/data/dataset/loader.py
Labels: waiting for triage

fix pkl file not loading in StaticDataLoader (#1896)
  examples/data_demo/data_cache_demo.py
  examples/data_demo/data_mem_resuse_demo.py
  examples/orderbook_data/create_dataset.py
  examples/workflow_by_code.py
  pyproject.toml
  qlib/contrib/torch.py
  qlib/data/dataset/loader.py
  qlib/rl/trainer/trainer.py
  tests/rl/test_trainer.py
Labels: waiting for triage

add dependencies for generate hdf5 files
  pyproject.toml
Labels: waiting for triage

fix microsoft/qlib#1893 - adapt pandas >= 1.5.0 - add group_keys when the result from apply is a like-indexed Series or DataFrame
  qlib/backtest/position.py
  qlib/contrib/eva/alpha.py
  qlib/contrib/report/analysis_position/parse_position.py
  qlib/contrib/report/analysis_position/rank_label.py
  qlib/utils/paral.py
Labels: waiting for triage

docs: fix README.md link
  README.md
Labels: documentation

fix: resolve #1892 by retriving the data page by page
  scripts/data_collector/utils.py
Labels: waiting for triage

fix: resolve #1892 by retriving the data page by page
  scripts/data_collector/utils.py
Labels: waiting for triage

Update detailed_workflow.ipynb
  examples/tutorial/detailed_workflow.ipynb
Labels: waiting for triage

Update detailed_workflow.ipynb
  examples/tutorial/detailed_workflow.ipynb
Labels: waiting for triage

fix col name error when fetch data
  qlib/contrib/model/gbdt.py
Labels: waiting for triage

fix col name error when fetch data
  qlib/contrib/model/gbdt.py
  qlib/data/dataset/loader.py
Labels: waiting for triage

fix install qlib error
  Makefile
Labels: waiting for triage

optimize code
  Makefile
  pyproject.toml
Labels: waiting for triage

optimize code
  Makefile
Labels: waiting for triage

optimize code
  pyproject.toml
Labels: waiting for triage

fix col name error when fetch data (#1904)
  pyproject.toml
  qlib/data/dataset/loader.py
Labels: waiting for triage

docs(qlib_web_platform): 添加 UI/UX 优化方案设计文档并实现模型创建页面
  DESIGN_DOC_UI_UX.md
  examples/benchmarks/LSTM/workflow_config_lstm_Alpha158.yaml
  my_work/cursor_rules.md
  my_work/demo.py
  qlib_web_platform/DESIGN_DOC_UI_UX.md
  qlib_web_platform/create_model.html
  qlib_web_platform/create_strategy.html
  qlib_web_platform/dashboard.html
  qlib_web_platform/data_management.html
  qlib_web_platform/edit_model.html
  qlib_web_platform/live_trading.html
  qlib_web_platform/models.html
  qlib_web_platform/strategies.html
  qlib_web_platform/strategy_detail.html
Labels: documentation, waiting for triage

refactor(qlib_web_platform): 重构模型创建和策略创建页面布局
  my_work/demo.py
  my_work/doc/QLib数据加载与特征处理详解.md
  my_work/doc/数据处理原理.png
  my_work/doc/运行原理图.png
  qlib/contrib/data/handler.py
  qlib/contrib/data/loader.py
  qlib_web_platform/DESIGN_DOC_UI_UX.md
  qlib_web_platform/create_model.html
  qlib_web_platform/create_strategy.html
  qlib_web_platform/edit_model.html
Labels: documentation, waiting for triage

fix some bugs in general_nn workflow
  qlib/contrib/model/pytorch_general_nn.py
  qlib/data/dataset/loader.py
Labels: waiting for triage

fix fillna bug
  qlib/data/dataset/processor.py
Labels: waiting for triage

fix na bug
  qlib/data/dataset/processor.py
Labels: waiting for triage

fix flake8 error
  qlib/data/dataset/processor.py
Labels: waiting for triage

fix pylint error
  qlib/contrib/model/pytorch_nn.py
Labels: waiting for triage

update ubuntu version for action
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

fix pytest error
  qlib/contrib/model/pytorch_nn.py
Labels: waiting for triage

fix pylint error
  qlib/contrib/model/pytorch_nn.py
Labels: waiting for triage

fix black error
  qlib/contrib/model/pytorch_nn.py
Labels: waiting for triage

fix pylint error
  qlib/contrib/model/pytorch_nn.py
Labels: waiting for triage

add Fillna test
  pyproject.toml
  qlib/data/dataset/processor.py
  tests/data_mid_layer_tests/test_dataloader.py
Labels: waiting for triage
