Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

fix typo; fix interface mismatch; fix FutureWarning
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/meta/data_selection/utils.py
  qlib/data/dataset/__init__.py
  qlib/model/meta/model.py
  qlib/workflow/task/utils.py
  scripts/data_collector/base.py
Labels: waiting for triage

workflow/task/utils.py
  qlib/workflow/task/utils.py
Labels: waiting for triage

merge
  qlib/utils/__init__.py
Labels: waiting for triage

revert workflow/task/utils.py
  qlib/workflow/task/utils.py
Labels: waiting for triage

remove custom codes
  examples/benchmarks_dynamic/DDG-DA/workflow.py
Labels: waiting for triage

Enable fill_method
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  qlib/contrib/meta/data_selection/dataset.py
Labels: waiting for triage

add: GCN, GAT_INDUS model
  README.md
  examples/benchmarks/GATs/README.md
  examples/benchmarks/GATs/workflow_config_gats_indus_Alpha158.yaml
  examples/benchmarks/GATs/workflow_config_gats_indus_Alpha360.yaml
  examples/benchmarks/GCN/README.md
  examples/benchmarks/GCN/requirements.txt
  examples/benchmarks/GCN/workflow_config_gcn_Alpha158.yaml
  examples/benchmarks/GCN/workflow_config_gcn_Alpha360.yaml
  examples/benchmarks/README.md
  qlib/contrib/model/__init__.py
  qlib/contrib/model/pytorch_gats_add_ind.py
  qlib/contrib/model/pytorch_gats_add_ind_ts.py
  qlib/contrib/model/pytorch_gcn.py
  qlib/contrib/model/pytorch_gcn_ts.py
Labels: documentation, waiting for triage

fix readme.md
  README.md
Labels: documentation

fix: readme.md
  README.md
Labels: documentation

wip
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
  qlib/rl/data/native.py
Labels: waiting for triage

wip
  examples/rl_order_execution/exp_configs/train_opds.yml
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/native.py
  qlib/rl/order_execution/simulator_simple.py
  qlib/rl/order_execution/utils.py
Labels: waiting for triage

wip
  examples/rl_order_execution/exp_configs/train_ppo.yml
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/native.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/simulator_simple.py
Labels: waiting for triage

Fix naming errors
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
  qlib/rl/data/native.py
Labels: waiting for triage

Backtest test passed
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/integration.py
  qlib/rl/data/native.py
  qlib/rl/order_execution/simulator_qlib.py
  qlib/rl/order_execution/simulator_simple.py
Labels: waiting for triage

Why training stuck?
  examples/rl_order_execution/exp_configs/train_opds.yml
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/native.py
  qlib/rl/order_execution/simulator_simple.py
Labels: waiting for triage

Minor
  qlib/rl/contrib/train_onpolicy.py
Labels: waiting for triage

Refine train configs
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
Labels: waiting for triage

Use dummy in training
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
Labels: waiting for triage

Remove pickle_dataframe
  examples/rl_order_execution/README.md
  examples/rl_order_execution/scripts/collect_pickle_dataframe.py
  examples/rl_order_execution/scripts/gen_training_orders.py
Labels: documentation, waiting for triage

CI
  examples/rl_order_execution/scripts/gen_training_orders.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/integration.py
  qlib/rl/data/native.py
  qlib/rl/order_execution/simulator_simple.py
Labels: waiting for triage

CI
  qlib/rl/contrib/train_onpolicy.py
Labels: waiting for triage

Update vessel.py
  qlib/rl/trainer/vessel.py
Labels: waiting for triage

Add more strict condition to filter orders
  examples/rl_order_execution/scripts/gen_training_orders.py
Labels: waiting for triage

Pass test
  qlib/rl/order_execution/simulator_simple.py
  tests/rl/test_saoe_simple.py
Labels: waiting for triage

Update vessel.py
  qlib/rl/trainer/vessel.py
Labels: waiting for triage

Update pytorch_sandwich.py
  qlib/contrib/model/pytorch_sandwich.py
Labels: waiting for triage

Update pytorch_krnn.py
  qlib/contrib/model/pytorch_krnn.py
Labels: waiting for triage

Update pytorch_sandwich.py
  qlib/contrib/model/pytorch_sandwich.py
Labels: waiting for triage

Update pytorch_krnn.py
  qlib/contrib/model/pytorch_krnn.py
Labels: waiting for triage

Support specify handler & optim dataset
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/model/linear.py
  qlib/data/dataset/handler.py
  qlib/data/dataset/utils.py
  tests/data_mid_layer_tests/README.md
  tests/data_mid_layer_tests/test_dataset.py
  tests/data_mid_layer_tests/test_handler.py
  tests/data_mid_layer_tests/test_handler_storage.py
  tests/data_mid_layer_tests/test_processor.py
Labels: documentation, waiting for triage

fix: removed extra blank link between sections (#1451)
  .gitignore
Labels: waiting for triage

Solve several small FIXMEs left in RL
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train_onpolicy.py
Labels: waiting for triage

Update handler.py
  qlib/data/dataset/handler.py
Labels: waiting for triage

Update Docs about some concepts in DataHandler (#1485)
  qlib/data/dataset/handler.py
Labels: waiting for triage

Fix Pylint
  qlib/contrib/model/linear.py
  qlib/data/dataset/utils.py
Labels: waiting for triage

Refine DDG-DA (#1472)
  examples/benchmarks_dynamic/DDG-DA/vis_data.py
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/meta/data_selection/net.py
  qlib/contrib/meta/data_selection/utils.py
  qlib/contrib/model/linear.py
  qlib/data/dataset/handler.py
  qlib/data/dataset/utils.py
  qlib/utils/__init__.py
  qlib/utils/data.py
  tests/data_mid_layer_tests/README.md
  tests/data_mid_layer_tests/test_dataset.py
  tests/data_mid_layer_tests/test_handler.py
  tests/data_mid_layer_tests/test_handler_storage.py
  tests/data_mid_layer_tests/test_processor.py
Labels: documentation, waiting for triage

fix: refine code
  qlib/contrib/model/pytorch_gats_add_ind.py
  qlib/contrib/model/pytorch_gats_add_ind_ts.py
  qlib/contrib/model/pytorch_gcn.py
  qlib/contrib/model/pytorch_gcn_ts.py
Labels: waiting for triage

Bug bounty test - please ignore.... (qrwvnp)
  docs/Makefile
  setup.py
Labels: documentation, waiting for triage

update ubuntu CI version; (End of standard support for 18.04 LTS - 31 May 2023)
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
Labels: waiting for triage

update ubuntu CI version;
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
