Repository microsoft/qlib, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, waiting for triage

Update docs/component/rl/guidance.rst
  docs/component/rl/guidance.rst
Labels: documentation

Update docs/component/rl/guidance.rst
  docs/component/rl/guidance.rst
Labels: documentation

Update qlibrl docs. (#1588)
  docs/component/rl/guidance.rst
  docs/component/rl/overall.rst
  docs/component/rl/toctree.rst
Labels: documentation

Adjust prompt and fix cases * adjust summarizeTask & learn prompts; * fix typos & drop duplicate task method;
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

adjust learn prompts;
  qlib/finco/prompt_template.yaml
Labels: waiting for triage

Optimize prompt for entire learn loop (#1589)
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

Postpone PR stale.
  .github/workflows/stale.yml
Labels: waiting for triage

Postpone PR stale. (#1591)
  .github/workflows/stale.yml
Labels: waiting for triage

update knowledge module; * add storage class; * new practice,execute,finance,infrastructure knowledge; * add query method to KnowledgeBase;
  qlib/finco/knowledge.py
  qlib/finco/workflow.py
Labels: waiting for triage

Intermediate version
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/rolling/__init__.py
  qlib/contrib/rolling/__main__.py
  qlib/contrib/rolling/base.py
  qlib/contrib/rolling/ddgda.py
  qlib/utils/__init__.py
  qlib/utils/mod.py
Labels: waiting for triage

merge all commit
  qlib/finco/llm.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

update knowledge module; * Knowledge.storage to storages list; * optimize Knowledge & Storage save and load method; * optimize Knowledge query prompt;
  qlib/finco/knowledge.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
Labels: waiting for triage

Be compatible with benchmark
  qlib/contrib/rolling/ddgda.py
Labels: waiting for triage

Get same results with previous linear model
  examples/benchmarks_dynamic/baseline/README.md
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/rolling/base.py
Labels: documentation, waiting for triage

Update black
  .pre-commit-config.yaml
Labels: waiting for triage

Update the placeholder mechanism
  qlib/utils/__init__.py
Labels: waiting for triage

Update CI
  .github/workflows/test_qlib_from_source.yml
Labels: waiting for triage

Update CI
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  qlib/contrib/rolling/__init__.py
Labels: waiting for triage

Upgrade Black
  .github/workflows/test_qlib_from_source.yml
  qlib/contrib/rolling/base.py
Labels: waiting for triage

Fix CI and simplify code
  qlib/contrib/rolling/base.py
  qlib/utils/__init__.py
Labels: waiting for triage

Fix CI
  qlib/contrib/rolling/base.py
  qlib/data/dataset/utils.py
Labels: waiting for triage

Move the data processing caching mechanism into utils.
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/rolling/base.py
  qlib/workflow/task/utils.py
Labels: waiting for triage

Adjusting DDG-DA
  examples/benchmarks_dynamic/DDG-DA/README.md
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/rolling/ddgda.py
Labels: documentation, waiting for triage

Organize import
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/rolling/ddgda.py
Labels: waiting for triage

merge all commit (#1593)
  qlib/finco/llm.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

Update test_utils.py
  tests/finco/test_utils.py
Labels: waiting for triage

Update record_temp.py
  qlib/workflow/record_temp.py
Labels: waiting for triage

Update record_temp.py
  qlib/workflow/record_temp.py
Labels: waiting for triage

optimize KnowledgeBase to complete workflow; * Update Knowledge methods of handle data IO; * Update task to handle multi recorders; * Integrate Knowledge to workflow;
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

Connect train task to ddg-da & rolling
  qlib/finco/.env.example
  qlib/finco/conf.py
  qlib/finco/context.py
  qlib/finco/task.py
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/finco/workflow.py
  scripts/finco/cmd.sh
  setup.py
Labels: waiting for triage

Pylint & black formatting
  qlib/finco/__init__.py
  qlib/finco/conf.py
  qlib/finco/context.py
  qlib/finco/knowledge.py
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/prompt_template.py
  qlib/finco/task.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
  setup.py
Labels: waiting for triage

Formatting
  qlib/finco/knowledge.py
  qlib/finco/task.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
Labels: waiting for triage

Connect TrainTask & Rolling & DDG-DA (#1599)
  qlib/finco/.env.example
  qlib/finco/__init__.py
  qlib/finco/conf.py
  qlib/finco/context.py
  qlib/finco/knowledge.py
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/prompt_template.py
  qlib/finco/task.py
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/finco/utils.py
  qlib/finco/workflow.py
  scripts/finco/cmd.sh
  setup.py
Labels: waiting for triage

optimize KnowledgeBase to complete workflow * Update TrainTask & AnalyseTask's recorder method; * Update SummarizeTask; * Update Workflow & Topic prompt;
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

Optimize KnowledgeBase to complete workflow (#1598)
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

#854 implement first data health checker draft
  scripts/check_data_health.py
Labels: waiting for triage

#854 added support for qlib's data format, implemented factor check, reformatted summary
  scripts/check_data_health.py
Labels: waiting for triage

Fix find class bug
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/utils/mod.py
Labels: waiting for triage

Fix find class bug (#1601)
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/utils/mod.py
Labels: waiting for triage

merge into one commit
  .gitignore
  qlib/finco/knowledge.py
  qlib/finco/knowledge/finance/gpt-generated.txt
  qlib/finco/llm.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

.github/labeler.yml:

documentation:
- 'docs/**/*'
- '**/*.md'

waiting for triage:
- any: ['**/*', '!docs/**/*', '!**/*.md']
