Repository microsoft/qlib, pull requests merged in 2021-02, with the labels that each got.

#250 Fix CI
  setup.py
Labels: bug

#258 Update readme and setup.py
  README.md
  setup.py
Labels: bug

#252 update 1min docs
  README.md
  docs/component/data.rst
  qlib/tests/data.py
  scripts/data_collector/yahoo/README.md
Labels: documentation

#260 Update docs about record-temp
  docs/component/recorder.rst
  examples/workflow_by_code.py
Labels: documentation

#261 Update models to enable save/load
  qlib/contrib/model/pytorch_alstm.py
  qlib/contrib/model/pytorch_alstm_ts.py
  qlib/contrib/model/pytorch_gats.py
  qlib/contrib/model/pytorch_gats_ts.py
  qlib/contrib/model/pytorch_gru.py
  qlib/contrib/model/pytorch_gru_ts.py
  qlib/contrib/model/pytorch_lstm.py
  qlib/contrib/model/pytorch_lstm_ts.py
  qlib/contrib/model/pytorch_nn.py
  qlib/contrib/model/pytorch_sfm.py
  qlib/contrib/model/pytorch_tabnet.py
  qlib/data/data.py
Labels: bug, enhancement

#264 Add model saving for qrun and workflow example
  examples/workflow_by_code.py
  qlib/model/trainer.py
Labels: enhancement
