Repository microsoft/qlib, pull requests merged in 2021-03, with the labels that each got.

#302 Update repr for dataset/workflow classes and add uri kwarg for QlibRecorder
  .gitignore
  qlib/data/dataset/__init__.py
  qlib/data/dataset/handler.py
  qlib/data/ops.py
  qlib/workflow/__init__.py
  qlib/workflow/exp.py
  qlib/workflow/expm.py
  qlib/workflow/recorder.py
  tests/test_all_pipeline.py
Labels: bug, enhancement

#319 Update Filter doc
  docs/component/data.rst
  qlib/data/dataset/__init__.py
  qlib/utils/__init__.py
Labels: documentation

#322 Fix pytorch ts model loader bug
  qlib/contrib/model/pytorch_alstm_ts.py
  qlib/contrib/model/pytorch_gats_ts.py
  qlib/contrib/model/pytorch_gru_ts.py
  qlib/contrib/model/pytorch_lstm_ts.py
Labels: bug

#314 (1) Fix /0 bug in double_ensemble, (2) remove _default_uri for R/expm, (3) support model size in pytorch models
  qlib/config.py
  qlib/contrib/backtest/account.py
  qlib/contrib/model/double_ensemble.py
  qlib/contrib/model/pytorch_alstm.py
  qlib/contrib/model/pytorch_alstm_ts.py
  qlib/contrib/model/pytorch_gats.py
  qlib/contrib/model/pytorch_gats_ts.py
  qlib/contrib/model/pytorch_gru.py
  qlib/contrib/model/pytorch_gru_ts.py
  qlib/contrib/model/pytorch_lstm.py
  qlib/contrib/model/pytorch_lstm_ts.py
  qlib/contrib/model/pytorch_nn.py
  qlib/contrib/model/pytorch_sfm.py
  qlib/contrib/model/pytorch_tabnet.py
  qlib/contrib/model/pytorch_utils.py
  qlib/contrib/online/operator.py
  qlib/log.py
  qlib/workflow/__init__.py
  qlib/workflow/cli.py
  qlib/workflow/exp.py
  qlib/workflow/expm.py
  qlib/workflow/recorder.py
  tests/test_all_pipeline.py
Labels: bug, enhancement

#280 Implement Enhanced Indexing as a Portfolio Optimizer
  qlib/contrib/strategy/strategy.py
  qlib/model/base.py
  qlib/model/riskmodel/__init__.py
  qlib/model/riskmodel/base.py
  qlib/model/riskmodel/poet.py
  qlib/model/riskmodel/shrink.py
  qlib/model/riskmodel/structured.py
  qlib/portfolio/__init__.py
  qlib/portfolio/optimizer/__init__.py
  qlib/portfolio/optimizer/base.py
  qlib/portfolio/optimizer/enhanced_indexing.py
  qlib/portfolio/optimizer/optimizer.py
  setup.py
  tests/test_structured_cov_estimator.py
Labels: enhancement

#340 Support resuming recorder
  qlib/workflow/__init__.py
  qlib/workflow/exp.py
  qlib/workflow/expm.py
Labels: bug, enhancement

#292 Add fund data as an example
  scripts/data_collector/base.py
  scripts/data_collector/fund/README.md
  scripts/data_collector/fund/collector.py
  scripts/data_collector/fund/requirements.txt
  scripts/data_collector/utils.py
Labels: enhancement
