Repository microsoft/qlib, pull requests merged in 2022-01, with the labels that each got.

#843 chore: remove hard code input dimension of model pytorch_tcts
  qlib/contrib/model/pytorch_tcts.py
Labels: enhancement

#846 fix: highfreq_gdbt_model of prepare data
  qlib/contrib/model/highfreq_gdbt_model.py
Labels: bug

#848 pylint code refine & Fix nested example
  examples/nested_decision_execution/workflow.py
  qlib/backtest/exchange.py
  qlib/backtest/executor.py
  qlib/backtest/position.py
  qlib/backtest/profit_attribution.py
  qlib/backtest/report.py
  qlib/backtest/utils.py
  qlib/contrib/data/dataset.py
  qlib/contrib/evaluate.py
  qlib/contrib/model/pytorch_adarnn.py
  qlib/contrib/model/pytorch_nn.py
  qlib/contrib/model/pytorch_tra.py
  qlib/contrib/report/graph.py
  qlib/data/dataset/__init__.py
  qlib/data/ops.py
  qlib/data/storage/file_storage.py
  qlib/model/riskmodel/structured.py
  qlib/model/trainer.py
  qlib/tests/data.py
  qlib/utils/__init__.py
  qlib/utils/exceptions.py
  qlib/utils/paral.py
  qlib/utils/resam.py
  qlib/workflow/__init__.py
  qlib/workflow/exp.py
  qlib/workflow/recorder.py
Labels: bug, enhancement

#864 Fix pytorch_nn.py step bug
  qlib/contrib/model/pytorch_nn.py
Labels: bug

#878 Docs to get original price
  docs/component/data.rst
Labels: documentation
