Repository microsoft/qlib, pull requests merged in 2023-03, with the labels that each got.

#1447 Order execution open source
  .gitignore
  examples/benchmarks/LightGBM/multi_freq_handler.py
  examples/benchmarks/LightGBM/workflow_config_lightgbm_Alpha158_multi_freq.yaml
  examples/benchmarks/LightGBM/workflow_config_lightgbm_multi_freq.yaml
  examples/rl_order_execution/README.md
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
  examples/rl_order_execution/scripts/collect_pickle_dataframe.py
  examples/rl_order_execution/scripts/gen_pickle_data.py
  examples/rl_order_execution/scripts/gen_training_orders.py
  examples/rl_order_execution/scripts/merge_orders.py
  examples/rl_order_execution/scripts/pickle_data_config.yml
  qlib/contrib/data/handler.py
  qlib/contrib/data/highfreq_handler.py
  qlib/contrib/data/highfreq_provider.py
  qlib/data/dataset/loader.py
  qlib/data/dataset/processor.py
  qlib/rl/contrib/backtest.py
  qlib/rl/order_execution/policy.py
  qlib/rl/order_execution/reward.py
  qlib/rl/order_execution/strategy.py
Labels: documentation, enhancement

#1464 Remove Outdated RL example
  examples/rl/README.md
  examples/rl/experiment_config/backtest/config.yml
  examples/rl/experiment_config/training/config.yml
  examples/rl/scripts/collect_pickle_dataframe.py
  examples/rl/scripts/data_pipeline.sh
  examples/rl/scripts/gen_backtest_orders.py
  examples/rl/scripts/gen_pickle_data.py
  examples/rl/scripts/gen_training_orders.py
  examples/rl/scripts/pickle_data_config.yml
Labels: documentation, waiting for triage

#1312 Improve annotation & documentation for handler
  qlib/data/dataset/handler.py
Labels: stale, waiting for triage

#1463 fix_pylint_w0719
  .github/workflows/test_qlib_from_source.yml
  qlib/utils/__init__.py
  qlib/workflow/exp.py
  qlib/workflow/expm.py
  qlib/workflow/recorder.py
Labels: waiting for triage

#1475 [BUGFIX] potential file// url parsing error
  qlib/utils/__init__.py
Labels: waiting for triage
