Repository microsoft/qlib, pull requests merged in 2023-06, with the labels that each got.

#1532 add the initial version of plan and config task implementation
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1534 add code implementation task
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1536 add a debug mode to speed up debug process
  .gitignore
  qlib/finco/.env.example
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/utils.py
Labels: waiting for triage

#1535 Add configurable dataset
  qlib/contrib/data/handler.py
  qlib/finco/tpl/README.md
  qlib/finco/tpl/__init__.py
  qlib/finco/tpl/sl-cfg/workflow_config_ds.yaml
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/finco/tpls/README.md
  qlib/finco/utils.py
  tests/finco/test_cfg.py
Labels: documentation, waiting for triage

#1533 Optimize summarize task prompt and others
  qlib/finco/task.py
  qlib/finco/test_sumarize.py
  qlib/finco/workflow.py
  tests/finco/test_sumarize.py
Labels: waiting for triage

#1537 Init workspace and CMDTask
  qlib/contrib/data/handler.py
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/tpl/__init__.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
  scripts/finco/README.md
  setup.py
Labels: documentation, waiting for triage

#1539 Update on Dynamic Benchmark
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/README.md
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  examples/benchmarks_dynamic/baseline/workflow_config_lightgbm_Alpha158.yaml
  examples/benchmarks_dynamic/baseline/workflow_config_linear_Alpha158.yaml
Labels: documentation, waiting for triage

#1542 Add recorder task and visualize
  qlib/contrib/analyzer.py
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/task.py
  qlib/finco/workflow.py
  qlib/workflow/record_temp.py
  tests/finco/test_sumarize.py
Labels: enhancement

#1548 add simple readme & move prompt templates to outer yaml file to make the code clean
  qlib/finco/README.md
  qlib/finco/prompt_template.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
Labels: documentation, waiting for triage

#1549 Optimize log and interact of FinCo
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: enhancement

#1550 add datahandler and design action task according to component
  qlib/finco/__init__.py
  qlib/finco/prompt_template.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1552 Add analyser task and optimize interact
  qlib/finco/conf.py
  qlib/finco/log.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: enhancement

#1566 Add docs to context and retrieve
  qlib/contrib/analyzer.py
  qlib/finco/task.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
  setup.py
Labels: enhancement

#1558 change get_data url
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  docs/component/data.rst
  qlib/tests/data.py
  setup.py
  tests/test_dump_data.py
  tests/test_get_data.py
Labels: documentation, waiting for triage

#1573 Update README.md for RL
  README.md
Labels: documentation

#1568 Add backtest and backforward task
  qlib/contrib/analyzer.py
  qlib/finco/cli_learn.py
  qlib/finco/prompt_template.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/finco/workflow.py
  qlib/workflow/record_temp.py
Labels: enhancement

#1576 refine workflow and prompts
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/prompt_template.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage
