Repository microsoft/qlib, pull requests merged in 2023-11, with the labels that each got.

#1656 fix the warning
  scripts/dump_bin.py
Labels: waiting for triage

#1637 Update README.md
  README.md
Labels: documentation

#1679 Update data.rst
  docs/component/data.rst
Labels: documentation

#1641 add_baostock_collector
  .github/workflows/test_qlib_from_source.yml
  scripts/data_collector/baostock_5min/README.md
  scripts/data_collector/baostock_5min/collector.py
  scripts/data_collector/baostock_5min/requirements.txt
  scripts/data_collector/base.py
  scripts/data_collector/br_index/collector.py
  scripts/data_collector/cn_index/collector.py
  scripts/data_collector/crypto/collector.py
  scripts/data_collector/fund/collector.py
  scripts/data_collector/future_calendar_collector.py
  scripts/data_collector/us_index/collector.py
  scripts/data_collector/utils.py
  scripts/data_collector/yahoo/README.md
  scripts/data_collector/yahoo/collector.py
  scripts/dump_bin.py
  scripts/dump_pit.py
  setup.py
Labels: documentation, waiting for triage
