Repository microsoft/qlib, pull requests merged in 2023-08, with the labels that each got.

#1612 optimize finCo log
  qlib/finco/knowledge.py
  qlib/finco/log.py
  qlib/finco/task.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1524 Improve readability of documents
  README.md
  examples/benchmarks/README.md
Labels: documentation

#1618 fix docs
  docs/component/data.rst
Labels: documentation

#1546 Add multi pass portfolio analysis record
  examples/benchmarks/Linear/workflow_config_linear_Alpha158_multi_pass_bt.yaml
  qlib/workflow/record_temp.py
Labels: enhancement

#1481 Add exploration noise to rl training collector
  qlib/rl/trainer/vessel.py
Labels: waiting for triage

#1504 Troubleshooting pip version issues in CI
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  pyproject.toml
  tests/test_pit.py
Labels: waiting for triage, maintenance
