Repository microsoft/qlib, pull requests merged in 2023-04, with the labels that each got.

#1485 Update Docs about some concepts in DataHandler
  qlib/data/dataset/handler.py
Labels: waiting for triage

#1472 Refine DDG-DA
  examples/benchmarks_dynamic/DDG-DA/vis_data.py
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/meta/data_selection/net.py
  qlib/contrib/meta/data_selection/utils.py
  qlib/contrib/model/linear.py
  qlib/data/dataset/handler.py
  qlib/data/dataset/utils.py
  qlib/utils/__init__.py
  qlib/utils/data.py
  tests/data_mid_layer_tests/README.md
  tests/data_mid_layer_tests/test_dataset.py
  tests/data_mid_layer_tests/test_handler.py
  tests/data_mid_layer_tests/test_handler_storage.py
  tests/data_mid_layer_tests/test_processor.py
Labels: documentation, enhancement

#1480 Refine Qlib RL data format
  examples/rl_order_execution/README.md
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  examples/rl_order_execution/exp_configs/train_opds.yml
  examples/rl_order_execution/exp_configs/train_ppo.yml
  examples/rl_order_execution/scripts/collect_pickle_dataframe.py
  examples/rl_order_execution/scripts/gen_training_orders.py
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/integration.py
  qlib/rl/data/native.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/simulator_qlib.py
  qlib/rl/order_execution/simulator_simple.py
  qlib/rl/order_execution/utils.py
  tests/rl/test_saoe_simple.py
Labels: documentation, waiting for triage

#1502 Specify the tianshou version to match the dev environment to avoid th…
  setup.py
Labels: bug

#1470 Remove unused `DNNModelPytorch` params
  examples/benchmarks/MLP/workflow_config_mlp_Alpha158.yaml
  examples/benchmarks/MLP/workflow_config_mlp_Alpha158_csi500.yaml
  examples/benchmarks/MLP/workflow_config_mlp_Alpha360.yaml
  examples/benchmarks/MLP/workflow_config_mlp_Alpha360_csi500.yaml
  qlib/contrib/model/pytorch_nn.py
Labels: waiting for triage
