Repository microsoft/qlib, pull requests merged in 2023-07, with the labels that each got.

#1582 Add knowledge module and tune summarizeTask
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1577 fix the download token check error
  qlib/tests/data.py
Labels: waiting for triage

#1588 Update qlibrl docs.
  docs/component/rl/guidance.rst
  docs/component/rl/overall.rst
  docs/component/rl/toctree.rst
Labels: documentation

#1589 Optimize prompt for entire learn loop
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1593 change the whole pipeline to support multi task and for demo
  qlib/finco/llm.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1592 update knowledge module;
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/utils.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1599 Connect TrainTask & Rolling & DDG-DA
  qlib/finco/.env.example
  qlib/finco/__init__.py
  qlib/finco/conf.py
  qlib/finco/context.py
  qlib/finco/knowledge.py
  qlib/finco/llm.py
  qlib/finco/log.py
  qlib/finco/prompt_template.py
  qlib/finco/task.py
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/finco/utils.py
  qlib/finco/workflow.py
  scripts/finco/cmd.sh
  setup.py
Labels: waiting for triage

#1598 Optimize KnowledgeBase to complete workflow
  qlib/finco/knowledge.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: enhancement

#1601 Fix find class bug
  qlib/finco/tpl/sl/workflow_config.yaml
  qlib/utils/mod.py
Labels: waiting for triage

#1603 add idea task and round1
  .gitignore
  qlib/finco/knowledge.py
  qlib/finco/knowledge/finance/gpt-generated.txt
  qlib/finco/llm.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1606 Bump Version & Fix CI
  .github/workflows/test_qlib_from_pip.yml
  qlib/__init__.py
Labels: waiting for triage

#1609 finetune prompts
  qlib/finco/knowledge.py
  qlib/finco/llm.py
  qlib/finco/prompt_template.yaml
  qlib/finco/task.py
  qlib/finco/workflow.py
Labels: waiting for triage

#1579 Update introduction.rst
  docs/introduction/introduction.rst
Labels: documentation

#1553 Update README.md
  README.md
Labels: documentation

#1578 Update introduction.rst
  docs/introduction/introduction.rst
Labels: documentation
