Repository microsoft/qlib, pull requests merged in 2023-01, with the labels that each got.

#1405 [DDG-DA] Update crowd-sourced data results
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/README.md
Labels: documentation

#1395 Simple RL notebook
  docs/component/rl/framework.rst
  examples/rl/README.md
  examples/rl/simple_example.ipynb
Labels: documentation

#1406 fix_labeler_bug
  .github/labeler.yml
Labels: enhancement

#1409 fix subprocess.check_output bug
  qlib/workflow/recorder.py
Labels: enhancement

#1407 [BUGFIX] allow sell in limit-up case and allow buy in limit-down case in topk strategy
  qlib/contrib/strategy/signal_strategy.py
  tests/test_all_pipeline.py
Labels: waiting for triage

#1415 RL Training pipeline on 5-min data
  qlib/contrib/data/highfreq_handler.py
  qlib/contrib/data/highfreq_provider.py
  qlib/rl/contrib/train_onpolicy.py
  qlib/rl/data/pickle_styled.py
  qlib/rl/order_execution/reward.py
  qlib/rl/order_execution/simulator_simple.py
  qlib/rl/trainer/__init__.py
  qlib/rl/trainer/callbacks.py
  qlib/rl/trainer/trainer.py
Labels: waiting for triage
