Repository microsoft/qlib, pull requests merged in 2023-05, with the labels that each got.

#1449 provide dtype to empty series to suppress warning; fix typo
  qlib/data/data.py
Labels: waiting for triage

#1507 Fix deprecated syntax in numpy
  qlib/contrib/strategy/rule_strategy.py
  qlib/data/dataset/__init__.py
  tests/misc/test_index_data.py
Labels: maintenance

#1508 Add support for redis password
  qlib/config.py
  qlib/utils/__init__.py
Labels: enhancement

#1500 Add base config in yml
  qlib/workflow/cli.py
Labels: waiting for triage

#1503 Resolve RL FIXMES
  examples/rl_order_execution/exp_configs/backtest_opds.yml
  examples/rl_order_execution/exp_configs/backtest_ppo.yml
  examples/rl_order_execution/exp_configs/backtest_twap.yml
  qlib/rl/contrib/backtest.py
  qlib/rl/contrib/naive_config_parser.py
  qlib/rl/contrib/train_onpolicy.py
Labels: waiting for triage

#1516 fix_DDG-DA_workflow_bug
  examples/benchmarks_dynamic/DDG-DA/Makefile
  examples/benchmarks_dynamic/DDG-DA/workflow.py
Labels: bug, waiting for triage

#1520 Fix TCN model input dimension mismatch
  examples/benchmarks/README.md
  qlib/contrib/model/pytorch_tcn_ts.py
Labels: bug, documentation

#1414 added KRNN and Sandwich models and their example results based on Alpha360
  README.md
  examples/benchmarks/KRNN/README.md
  examples/benchmarks/KRNN/requirements.txt
  examples/benchmarks/KRNN/workflow_config_krnn_Alpha360.yaml
  examples/benchmarks/README.md
  examples/benchmarks/Sandwich/README.md
  examples/benchmarks/Sandwich/requirements.txt
  examples/benchmarks/Sandwich/workflow_config_sandwich_Alpha360.yaml
  qlib/contrib/model/pytorch_krnn.py
  qlib/contrib/model/pytorch_sandwich.py
Labels: documentation, waiting for triage

#1527 add openai interface support
  qlib/finco/cli.py
  qlib/finco/conf.py
  qlib/finco/llm.py
Labels: waiting for triage

#1529 Fix CI
  qlib/contrib/model/pytorch_sandwich.py
Labels: maintenance

#1528 Xuyang1/refine task and implement workflow task as example
  qlib/finco/cli.py
  qlib/finco/conf.py
  qlib/finco/llm.py
  qlib/finco/task.py
  qlib/finco/utils.py
Labels: waiting for triage
