Repository microsoft/qlib, pull requests merged in 2024-12, with the labels that each got.

#1829 Update urllib3 to fix security issue
  scripts/data_collector/br_index/requirements.txt
Labels: waiting for triage

#1866 Saurabh12571257/main
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  README.md
Labels: documentation

#1661 fix duplicate log
  qlib/config.py
  tests/rl/test_logger.py
Labels: waiting for triage

#1869 Fix Async Call
  qlib/utils/paral.py
Labels: waiting for triage

#1871 Update publish
  .github/workflows/python-publish.yml
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  Makefile
  pyproject.toml
  setup.cfg
  setup.py
Labels: waiting for triage

#1872 Bump version
  .github/workflows/test_qlib_from_pip.yml
  Makefile
  README.md
  qlib/__init__.py
Labels: documentation, waiting for triage

#1677 Fix the empty price_s case and self.instruments in SBBStrategyEMA.
  qlib/backtest/report.py
  qlib/contrib/strategy/rule_strategy.py
Labels: waiting for triage
