Repository microsoft/qlib, pull requests merged in 2024-06, with the labels that each got.

#1758 fix the bug that the HS_SYMBOLS_URL is 404
  .github/workflows/test_qlib_from_pip.yml
  scripts/data_collector/utils.py
  setup.py
Labels: waiting for triage

#1751 Update utils.py for typo
  qlib/data/dataset/utils.py
Labels: waiting for triage

#1698 fix panic during normalizing the invalid data
  scripts/data_collector/base.py
Labels: waiting for triage

#1804 fix logo display error
  README.md
Labels: documentation

#1810 Add "mse" metric option to ALSTM.metric_fn
  qlib/contrib/model/pytorch_alstm_ts.py
Labels: waiting for triage

#1809 Fix typo datatime etc.
  qlib/data/data.py
  qlib/workflow/task/utils.py
Labels: waiting for triage

#1811 Fix typo
  docs/component/model.rst
  examples/workflow_by_code.ipynb
  qlib/model/trainer.py
  scripts/data_collector/crypto/README.md
  tests/test_all_pipeline.py
Labels: documentation, waiting for triage

#1803 Fix TSDataSampler Slicing Bug #1716
  qlib/data/dataset/__init__.py
  tests/data_mid_layer_tests/test_dataset.py
Labels: waiting for triage

#1517 Fix Yahoo daily data format inconsistent
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  scripts/data_collector/yahoo/collector.py
  setup.py
Labels: waiting for triage

#1812 change weight data download url
  examples/portfolio/README.md
Labels: documentation

#1814 add a note for code standard
  docs/developer/code_standard_and_dev_guide.rst
Labels: documentation

#1813 Update index_data.py for datatype conversion and alignment
  qlib/utils/index_data.py
  tests/misc/test_index_data.py
Labels: waiting for triage

#1816 Add some misc features.
  examples/benchmarks_dynamic/DDG-DA/workflow.py
  examples/benchmarks_dynamic/baseline/rolling_benchmark.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/meta/data_selection/utils.py
  qlib/contrib/model/linear.py
  qlib/contrib/model/pytorch_gru.py
  qlib/contrib/report/data/ana.py
  qlib/contrib/report/data/base.py
  qlib/contrib/report/utils.py
  qlib/contrib/rolling/base.py
  qlib/contrib/rolling/ddgda.py
  qlib/model/meta/task.py
  qlib/utils/mod.py
  qlib/workflow/cli.py
Labels: waiting for triage
