Repository microsoft/qlib, pull requests merged in 2024-05, with the labels that each got.

#1784 bump version
  qlib/__init__.py
Labels: waiting for triage

#1776 Fix issue 1729
  scripts/data_collector/cn_index/collector.py
Labels: waiting for triage

#1736 Fix the bug of reading string NA as NaN in the function exists_qlib_data.
  .gitignore
  qlib/utils/__init__.py
Labels: waiting for triage

#1759 Update dump_pit.py
  scripts/dump_pit.py
Labels: waiting for triage

#1770 data_collector: cn_index: fix missing dependencies package in requirements.txt
  scripts/data_collector/cn_index/requirements.txt
Labels: waiting for triage

#1732 Delete redundant copy() code to speed up
  qlib/data/data.py
Labels: waiting for triage

#1788 fix document
  docs/requirements.txt
Labels: documentation

#1793 fix get data error
  examples/orderbook_data/README.md
  qlib/tests/data.py
Labels: documentation, waiting for triage

#1767 changed concat of strings to f-strings and redundant type conversion …
  qlib/data/client.py
Labels: waiting for triage
