Repository microsoft/qlib, pull requests merged in 2025-01, with the labels that each got.

#1881 Fix broken URL for RL
  docs/component/highfreq.rst
Labels: documentation

#1877 Update links to chenditc/investment_data to always point to latest release
  README.md
  examples/benchmarks_dynamic/README.md
  scripts/README.md
  scripts/data_collector/crowd_source/README.md
Labels: documentation

#1883 Fix csi300 constituents url
  README.md
  scripts/data_collector/cn_index/collector.py
Labels: bug

#1574 DRAFT add Data Health Checker
  README.md
  docs/component/data.rst
  scripts/check_data_health.py
Labels: documentation, enhancement
