Repository microsoft/qlib, pull requests merged in 2025-05, with the labels that each got.

#1921 fix ci error
  .github/workflows/test_qlib_from_pip.yml
  qlib/utils/paral.py
Labels: waiting for triage

#1913 [fix] keep group_keys=False in Average Ensemble
  qlib/model/ens/ensemble.py
Labels: waiting for triage

#1917 fixed a problem with multi index caused by the default value of groupkey
  README.md
  examples/benchmarks/TFT/libs/tft_model.py
  examples/benchmarks/TFT/tft.py
  examples/benchmarks/TRA/src/dataset.py
  examples/highfreq/highfreq_ops.py
  examples/rl_order_execution/scripts/gen_training_orders.py
  pyproject.toml
  qlib/backtest/high_performance_ds.py
  qlib/backtest/position.py
  qlib/backtest/report.py
  qlib/contrib/data/dataset.py
  qlib/contrib/data/processor.py
  qlib/contrib/eva/alpha.py
  qlib/contrib/meta/data_selection/dataset.py
  qlib/contrib/meta/data_selection/model.py
  qlib/contrib/model/double_ensemble.py
  qlib/contrib/model/highfreq_gdbt_model.py
  qlib/contrib/model/pytorch_adarnn.py
  qlib/contrib/model/pytorch_add.py
  qlib/contrib/model/pytorch_gats.py
  qlib/contrib/model/pytorch_gats_ts.py
  qlib/contrib/model/pytorch_hist.py
  qlib/contrib/model/pytorch_igmtf.py
  qlib/contrib/model/pytorch_krnn.py
  qlib/contrib/ops/high_freq.py
  qlib/contrib/report/analysis_model/analysis_model_performance.py
  qlib/contrib/report/analysis_position/cumulative_return.py
  qlib/contrib/report/analysis_position/parse_position.py
  qlib/contrib/report/analysis_position/rank_label.py
  qlib/contrib/report/analysis_position/risk_analysis.py
  qlib/contrib/report/analysis_position/score_ic.py
  qlib/contrib/report/data/ana.py
  qlib/contrib/strategy/rule_strategy.py
  qlib/data/cache.py
  qlib/data/dataset/processor.py
  qlib/data/dataset/storage.py
  qlib/tests/__init__.py
  qlib/utils/paral.py
  qlib/utils/resam.py
  qlib/workflow/record_temp.py
  scripts/data_collector/utils.py
  scripts/dump_bin.py
  tests/dataset_tests/test_datalayer.py
Labels: documentation, maintenance

#1924 [Fix]Update data preparation part in README.md
  README.md
Labels: documentation

#1928 [feat] fix a bug and adapt general_nn for use with rdagent_qlib
  .github/workflows/test_qlib_from_pip.yml
  .github/workflows/test_qlib_from_source.yml
  .github/workflows/test_qlib_from_source_slow.yml
  qlib/contrib/model/pytorch_general_nn.py
Labels: enhancement

#1902 The plotly figure is empty in the code block "Basic data"
  examples/tutorial/detailed_workflow.ipynb
Labels: waiting for triage

#1938 Implement geometric accumulation mode for risk_analysis function
  qlib/contrib/evaluate.py
Labels: enhancement

#1940 Update README.md
  README.md
Labels: documentation

#1943 fix: typo
  README.md
Labels: documentation
